<template>
  <!-- category banner section start -->
  <section class="padding-80px-tb category-banner-offer">
    <div class="container">
      <div class="row">
        <!-- banner 1 start -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-12 sm-margin-bottom-20px">
          <!-- banner 1 image start -->
          <div class="section-product">
            <a href="category-bag-glasses.html"
              ><img
                :src="fashionProduct1"
                alt="product1"
                class="img-fluid w-100"
            /></a>
            <div class="overlay"></div>
          </div>
          <!-- banner 2 image end -->
          <div class="product text-center">
            <h6
              class="font-weight-600 title-medium lg-text-extra-large md-title-mdall"
            >
              Electronics
            </h6>
            <div class="category-name">Washing items</div>
            <a href="category-bag-glasses.html" class="btn btn-small"
              >Shop Now</a
            >
          </div>
        </div>
        <!-- banner 1 end -->
        <!-- banner 2 start -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-12 sm-margin-bottom-20px">
          <!-- banner 2 image start -->
          <div class="section-product">
            <a href="category-women-purse.html"
              ><img
                :src="fashionProduct2"
                alt="product2"
                class="img-fluid w-100"
            /></a>
            <div class="overlay"></div>
          </div>
          <!-- banner 2 image end -->
          <div class="product text-center">
            <h6
              class="font-weight-600 title-medium lg-text-extra-large md-title-mdall"
            >
              Furniture
            </h6>
            <div class="category-name">Chair</div>
            <a href="category-women-purse.html" class="btn btn-small"
              >Shop Now</a
            >
          </div>
        </div>
        <!-- banner 2 end -->
        <!-- banner 3 start -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-12">
          <!-- banner 3 image start -->
          <div class="section-product">
            <a href="category-mix.html"
              ><img
                :src="fashionProduct3"
                alt="product3"
                class="img-fluid w-100"
            /></a>
            <div class="overlay"></div>
          </div>
          <!-- banner 3 image end -->
          <div class="product text-center">
            <h6
              class="font-weight-600 title-medium lg-text-extra-large md-title-mdall"
            >
              Asseccories
            </h6>
            <div class="category-name">Headphone</div>
            <a href="category-mix.html" class="btn btn-small">Shop Now</a>
          </div>
        </div>
        <!-- banner 3 end -->
      </div>
    </div>
  </section>
  <!-- category banner section end -->
</template>

<script>
import { imageUtil } from "../../globalUtility/imageHelper";
export default {
  name: "Banner1",
  data() {
    return {
      fashionProduct1: imageUtil.images.FashionProduct1,
      fashionProduct2: imageUtil.images.FashionProduct2,
      fashionProduct3: imageUtil.images.FashionProduct3
    };
  }
};
</script>

<style scoped></style>
