<template>
  <!-- best-deal section start -->
  <section class="padding-80px-tb border-top-light-gray">
    <div class="container">
      <div class="row">
        <!-- best-deal section heading start -->
        <div
          class="col-xl-12 text-center margin-bottom-40px lg-margin-bottom-30px md-margin-bottom-25px sm-margin-bottom-20px"
        >
          <h3
            class="title-heading text-black font-weight-600 lg-title-medium md-title-medium sm-title-mdmore"
          >
            Best Deal
          </h3>
          <div class="title-desc text-silver font-weight-500 sm-text-large">
            Here's the best deal you can grab now
          </div>
        </div>
        <!-- best-deal section heading end -->
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <!-- best-deal masonry start -->
          <div class="overflow-hidden">
            <ul
              class="product-grid d-flex no-margin-bottom no-padding-left sm-display-block"
            >
              <li class="grid-sizer list-style-none"></li>
              <li class="grid-item list-style-none sm-no-padding-right">
                <!-- best-deal image 1 start -->
                <div class="best-deal">
                  <img
                    class="img-fluid w-100"
                    src="image/libazz-fashion-bestdeal1.jpg"
                    alt="bestdeal1"
                  />
                  <a
                    href="product-category-men-shirt-list.html"
                    class="btn btn-small"
                    >Shop Now</a
                  >
                </div>
                <!-- best-deal image 1 end -->
              </li>
              <li class="grid-item list-style-none sm-display-flex">
                <!-- best-deal image 2 start -->
                <div class="best-deal-1">
                  <img
                    class="img-fluid"
                    src="image/libazz-fashion-bestdeal2.jpg"
                    alt="bestdeal2"
                  />
                  <a
                    href="product-category-women-pant-list.html"
                    class="btn btn-small"
                    >Shop Now</a
                  >
                </div>
                <!-- best-deal image 2 end -->
                <!-- best-deal image 3 start -->
                <div class="best-deal-1 best-deal-1-padding">
                  <img
                    class="img-fluid"
                    src="image/libazz-fashion-bestdeal3.jpg"
                    alt="bestdeal3"
                  />
                  <a
                    href="product-category-women-purse-list.html"
                    class="btn btn-small"
                    >Shop Now</a
                  >
                </div>
                <!-- best-deal image 3 end -->
              </li>
              <li class="grid-item list-style-none sm-display-flex">
                <!-- best-deal image 4 start -->
                <div class="best-deal-3">
                  <img
                    class="img-fluid"
                    src="image/libazz-fashion-bestdeal4.jpg"
                    alt="bestdeal2"
                  />
                  <a
                    href="product-category-men-footwear-list.html"
                    class="btn btn-small"
                    >Shop Now</a
                  >
                </div>
                <!-- best-deal image 4 end -->
                <!-- best-deal image 5 start -->
                <div class="best-deal-3 best-deal-3-padding">
                  <img
                    class="img-fluid"
                    src="image/libazz-fashion-bestdeal5.jpg"
                    alt="bestdeal3"
                  />
                  <a
                    href="product-category-men-mix-list.html"
                    class="btn btn-small"
                    >Shop Now</a
                  >
                </div>
                <!-- best-deal image 5 end -->
              </li>
              <li class="grid-item list-style-none">
                <!-- best-deal image 6 start -->
                <div class="best-deal-2">
                  <img
                    class="img-fluid w-100"
                    src="image/libazz-fashion-bestdeal6.jpg"
                    alt="bestdeal1"
                  />
                  <a
                    href="product-category-men-tshirt-list.html"
                    class="btn btn-small"
                    >Shop Now</a
                  >
                </div>
                <!-- best-deal image 6 end -->
              </li>
            </ul>
          </div>
          <!-- best-deal masonry end -->
        </div>
      </div>
    </div>
  </section>
  <!-- best-deal section end -->
</template>

<script>
export default {
  name: "BestDeal"
};
</script>

<style scoped></style>
