<template>
  <!-- timer section start -->
  <section class="padding-80px-tb bg-light-gray">
    <div class="container">
      <div class="row">
        <!-- deal of the day timer start -->
        <div
          class="col-xl-6 col-lg-6 col-md-6 col-12 text-center sm-margin-bottom-20px"
        >
          <h3
            class="title-heading text-black font-weight-600 lg-title-medium md-title-medium sm-title-mdmore"
          >
            Deal of the day
          </h3>
          <div class="title-desc description text-tometo sm-text-large">
            Come here everyday to grab best deal!
          </div>
          <div class="clock" id="clockdiv">
            <!-- deal day start -->
            <div class="clock-day">
              <span class="days"></span>
              <div class="smalltext text-black">Days</div>
            </div>
            <!-- deal day end -->
            <!-- deal hours start -->
            <div class="clock-hours">
              <span class="hours"></span>
              <div class="smalltext text-black">Hours</div>
            </div>
            <!-- deal hours end -->
            <!-- deal minute start -->
            <div class="clock-minutes">
              <span class="minutes"></span>
              <div class="smalltext text-black">Minutes</div>
            </div>
            <!-- deal minute end -->
            <!-- deal second start -->
            <div class="clock-seconds">
              <span class="seconds"></span>
              <div class="smalltext text-black">Seconds</div>
            </div>
            <!-- deal second end -->
          </div>
          <!-- deal-timer detail start -->
          <div class="deal-img">
            <div class="offer title-desc text-tometo sm-text-large">
              Hurry up it's today offers
            </div>
            <h2
              class="title-heading title-small lg-text-extra-large md-title-mdall sm-text-extra-large"
            >
              USE THIS CODE FOR DEALS
            </h2>
            <!-- deal-timer code start -->
            <div
              class="code justify-content-center d-flex margin-bottom-20px sm-margin-bottom-10px"
            >
              <span class="box sm-text-large">CODE : LBZ60</span>
            </div>
            <!-- deal-timer code end -->
            <!-- deal-timer slider start -->
            <div class="owl-carousel deal-day owl-theme">
              <!-- deal-timer slider item start -->
              <div class="item">
                <!-- deal-timer image 1 start -->
                <div class="dealday-img">
                  <img
                    src="image/libazz-fashion-dealday1.jpg"
                    class="img-fluid"
                    alt="dealday1"
                  />
                  <a
                    href="product-category-men-tshirt-list.html"
                    class="btn btn-small"
                    >Shop Now</a
                  >
                </div>
                <!-- deal-timer image 1 end -->
              </div>
              <div class="item">
                <!-- deal-timer image 2 start -->
                <div class="dealday-img">
                  <img
                    src="image/libazz-fashion-dealday2.jpg"
                    class="img-fluid"
                    alt="dealday1"
                  />
                  <a href="category-mix.html" class="btn btn-small">Shop Now</a>
                </div>
                <!-- deal-timer image 2 end -->
              </div>
              <!-- deal-timer slider item end -->
            </div>
            <!-- deal-timer slider end -->
          </div>
          <!-- deal-timer detail end -->
        </div>
        <!-- deal of the day timer end -->
        <!-- week of the day timer start -->
        <div class="col-xl-6 col-lg-6 col-md-6 col-12 text-center">
          <h3
            class="title-heading text-black font-weight-600 lg-title-medium md-title-medium sm-title-mdmore"
          >
            Week of the day
          </h3>
          <div class="title-desc description text-tometo sm-text-large">
            Come here everyday to grab best deal!
          </div>
          <div class="clock margin-top-5px" id="clockdeal">
            <!-- week day start -->
            <div class="clock-day">
              <span class="days"></span>
              <div class="smalltext text-black">Days</div>
            </div>
            <!-- week day end -->
            <!-- deal hours start -->
            <div class="clock-hours">
              <span class="hours"></span>
              <div class="smalltext text-black">Hours</div>
            </div>
            <!-- deal hours end -->
            <!-- deal minute start -->
            <div class="clock-minutes">
              <span class="minutes"></span>
              <div class="smalltext text-black">Minutes</div>
            </div>
            <!-- deal minute end -->
            <!-- deal second start -->
            <div class="clock-seconds">
              <span class="seconds"></span>
              <div class="smalltext text-black">Seconds</div>
            </div>
            <!-- deal second end -->
          </div>
          <!-- week-timer detail start -->
          <div class="deal-img">
            <div class="offer title-desc text-tometo sm-text-large">
              Hurry up it's today offers
            </div>
            <h2
              class="title-heading title-small lg-text-extra-large md-title-mdall sm-text-extra-large xs-text-extra-large margin-bottom-15px"
            >
              USE THIS CODE FOR DEALS
            </h2>
            <!-- week-timer code start -->
            <div
              class="code justify-content-center d-flex margin-bottom-20px sm-margin-bottom-10px"
            >
              <span class="box sm-text-large">CODE : LBZ60</span>
            </div>
            <!-- week-timer code end -->
            <!-- week-timer slider start -->
            <div class="owl-carousel deal-day owl-theme">
              <!-- week-timer slider item start -->
              <div class="item">
                <!-- week-timer image 1 start -->
                <div class="dealday-img">
                  <img
                    src="image/libazz-fashion-dealweek1.jpg"
                    class="img-fluid"
                    alt="dealday1"
                  />
                  <a
                    href="product-category-women-tshirt-list.html"
                    class="btn btn-small"
                    >Shop Now</a
                  >
                </div>
                <!-- week-timer image 1 start -->
              </div>
              <div class="item">
                <!-- week-timer image 2 start -->
                <div class="dealday-img">
                  <img
                    src="image/libazz-fashion-dealweek2.jpg"
                    class="img-fluid"
                    alt="dealday1"
                  />
                  <a href="category-women-tshirt.html" class="btn btn-small"
                    >Shop Now</a
                  >
                </div>
                <!-- week-timer image 2 start -->
              </div>
              <!-- week-timer slider item end -->
            </div>
            <!-- week-timer slider end -->
          </div>
          <!-- week-timer detail end -->
        </div>
        <!-- week of the day timer end -->
      </div>
    </div>
  </section>
  <!-- timer section end -->
</template>

<script>
export default {
  name: "DealOfTheDay"
};
</script>

<style scoped></style>
