<template>
  <!-- instagram feed section start -->
  <section class="padding-80px-tb">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="instagram">
            <div class="text-center">
              <!-- insta-feed heading start -->
              <h2
                class="follow-us text-white title-large-1 lg-title-medium md-title-mdall sm-title-mdmore xs-text-extra-large padding-top-20px lg-padding-top-15px md-padding-top-10px"
              >
                Follow us instagram
              </h2>
              <!-- insta-feed heading end -->
              <div
                class="text-white sm-text-large xs-text-large margin-bottom-20px lg-margin-bottom-15px md-margin-bottom-10px"
              >
                Here's #Design#Photography#fashion...
              </div>
              <!-- insta-feed image start -->
              <div id="instaFeed-style1" class="instagram_feed"></div>
              <!-- insta-feed image end -->
              <!-- insta-feed social icon start -->
              <div class="padding-25px-tb">
                <!-- insta icon start -->
                <div class="insta display-inline-block">
                  <a
                    href="https://www.instagram.com/libazzfashion/?hl=en"
                    target="_blank"
                    class="spin"
                  >
                    <img
                      src="image/libazz-fashion-insta.png"
                      alt="insta"
                      class="img-fluid"
                    />
                  </a>
                </div>
                <!-- insta icon end -->
                <!-- facebook icon start -->
                <div class="facebook display-inline-block">
                  <a href="https://www.facebook.com/" target="_blank">
                    <img
                      src="image/libazz-fashion-facebook.png"
                      alt="facebook"
                      class="img-fluid"
                    />
                  </a>
                </div>
                <!-- facebook icon end -->
              </div>
              <!-- insta-feed social icon end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- instagram feed section end -->
</template>

<script>
export default {
  name: "FollowUs"
};
</script>

<style scoped></style>
