<template>
  <div>
    <!-- footer section start -->
    <section class="bg-dark-light-blue padding-80px-tb">
      <div class="container">
        <div
          class="row align-items-center margin-bottom-15px sm-margin-bottom-20px"
        >
          <!-- footer-logo start -->
          <div class="col-xl-3 col-lg-3 col-md-3">
            <div class="footer-img">
              <a href="home.html"
                ><img
                  class="img-fluid footer-logo"
                  src="image/libazz-fashion-logo.png"
                  alt="footer-logo"
              /></a>
            </div>
          </div>
          <!-- footer-logo end -->
          <div class="col-xl-6 col-lg-6 col-md-5">
            <!-- company-desciption start -->
            <div
              class="company-desciption sm-margin-top-10px sm-margin-bottom-10px"
            >
              <span class="text-white text-center sm-text-large"
                >Lorem Ipsum is simply dummy text of the printing and has been
                industry's standard dummy text ever since the 1500s.</span
              >
            </div>
            <!-- company-desciption end -->
          </div>
          <!-- social-media-icon start -->
          <div
            class="col-xl-3 col-lg-3 col-md-4 d-flex align-items-center justify-content-end sm-justify-content-start"
          >
            <div class="social-icon">
              <a href="https://www.facebook.com/" target="_blank"
                ><i class="ti-facebook"></i
              ></a>
              <a href="https://www.youtube.com/" target="_blank"
                ><i class="ti-youtube"></i
              ></a>
              <a href="https://www.linkedin.com/" target="_blank"
                ><i class="ti-linkedin"></i
              ></a>
              <a href="https://in.pinterest.com/" target="_blank"
                ><i class="ti-pinterest"></i
              ></a>
              <a href="https://twitter.com/" target="_blank"
                ><i class="ti-twitter-alt"></i
              ></a>
            </div>
          </div>
          <!-- social-media-icon end -->
        </div>
        <div class="border-top-light padding-top-15px">
          <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-6 md-margin-bottom-15px">
              <!-- user-link start -->
              <div class="footer-useful sm-display-none">
                <div class="text-large text-tometo margin-bottom-15px">
                  Useful links
                </div>
                <div class="useful-links">
                  <a
                    href="track-page.html"
                    class="text-white d-block margin-bottom-5px"
                    >Track order</a
                  >
                  <a
                    href="cancellation.html"
                    class="text-white d-block margin-bottom-5px"
                    >Cancelation</a
                  >
                  <a
                    href="stores.html"
                    class="text-white d-block margin-bottom-5px"
                    >Store</a
                  >
                  <a
                    href="faqs.html"
                    class="text-white d-block margin-bottom-5px"
                    >Faq's</a
                  >
                  <a
                    href="privacy-policy.html"
                    class="text-white d-block margin-bottom-5px"
                    >Privacy policy</a
                  >
                  <a href="terms-condition.html" class="text-white"
                    >Terms & condition</a
                  >
                </div>
              </div>
              <!-- user-link end -->
              <!-- responsive use-link start -->
              <div class="panel-group d-none sm-display-block" id="accordion1">
                <div class="panel-title">
                  <a
                    data-toggle="collapse"
                    data-parent="#accordion1"
                    href="#collapse1"
                    class="sm-text-extra-large text-tometo font-weight-600"
                    aria-expanded="false"
                    >Useful links
                    <!-- plus icon starts -->
                    <i class="fas fa-plus-circle"></i>
                    <!-- plus icon ends -->
                  </a>
                </div>
                <div
                  id="collapse1"
                  class="panel-collapse collapse sm-text-large sm-margin-top-15px"
                >
                  <a
                    href="track-page.html"
                    class="text-white d-block sm-margin-bottom-10px"
                    >Track order</a
                  >
                  <a
                    href="cancellation.html"
                    class="text-white d-block sm-margin-bottom-10px"
                    >Cancelation</a
                  >
                  <a
                    href="stores.html"
                    class="text-white d-block sm-margin-bottom-10px"
                    >Store</a
                  >
                  <a
                    href="faqs.html"
                    class="text-white d-block sm-margin-bottom-10px"
                    >Faq's</a
                  >
                  <a
                    href="privacy-policy.html"
                    class="text-white d-block sm-margin-bottom-10px"
                    >Privacy policy</a
                  >
                  <a href="terms-condition.html" class="text-white"
                    >Terms & condition</a
                  >
                </div>
              </div>
              <!-- responsive use-link end -->
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 md-margin-bottom-15px">
              <!-- user account start -->
              <div class="footer-account sm-display-none">
                <div
                  class="text-large text-tometo margin-bottom-15px sm-margin-top-10px"
                >
                  Account
                </div>
                <div class="account">
                  <a
                    href="signin.html"
                    class="text-white d-block margin-bottom-5px"
                    >My account</a
                  >
                  <a
                    href="signin.html"
                    class="text-white d-block margin-bottom-5px"
                    >Order history</a
                  >
                  <a
                    href="wishlist.html"
                    class="text-white d-block margin-bottom-5px"
                    >Wishlist</a
                  >
                  <a
                    href="cart-page.html"
                    class="text-white d-block margin-bottom-5px"
                    >Cart page</a
                  >
                  <a
                    href="site-map.html"
                    class="text-white d-block margin-bottom-5px"
                    >Sitemap</a
                  >
                  <a href="contact-us2.html" class="text-white">Contact us</a>
                </div>
              </div>
              <!-- user account end -->
              <!-- responsive user account start -->
              <div class="panel-group d-none sm-display-block" id="accordion2">
                <div class="panel-title">
                  <a
                    data-toggle="collapse"
                    data-parent="#accordion2"
                    href="#collapse2"
                    class="sm-text-extra-large text-tometo font-weight-600"
                    aria-expanded="false"
                    >Account
                    <!-- plus icon starts -->
                    <i class="fas fa-plus-circle"></i>
                    <!-- plus icon ends -->
                  </a>
                </div>
                <div
                  id="collapse2"
                  class="panel-collapse collapse sm-text-large sm-margin-top-15px"
                >
                  <a
                    href="signin.html"
                    class="text-white d-block sm-margin-bottom-10px"
                    >My account</a
                  >
                  <a
                    href="signin.html"
                    class="text-white d-block sm-margin-bottom-10px"
                    >Order history</a
                  >
                  <a
                    href="wishlist.html"
                    class="text-white d-block sm-margin-bottom-10px"
                    >Wishlist</a
                  >
                  <a
                    href="cart-page.html"
                    class="text-white d-block sm-margin-bottom-10px"
                    >Cart page</a
                  >
                  <a
                    href="site-map.html"
                    class="text-white d-block sm-margin-bottom-10px"
                    >Sitemap</a
                  >
                  <a href="contact-us2.html" class="text-white">Contact us</a>
                </div>
              </div>
              <!-- responsive user account end -->
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 sm-margin-bottom-15px">
              <!-- store location start -->
              <div class="footer-store sm-display-none">
                <div class="text-large text-tometo margin-bottom-15px">
                  Store location
                </div>
                <div class="store-location margin-bottom-5px">
                  <div class="d-inline-block margin-right-5px">
                    <i class="fas fa-map-marker-alt text-white"></i>
                  </div>
                  <div class="d-inline-block text-white vertical-align-middle">
                    Demo store on road 10<br />United states
                  </div>
                </div>
                <div class="store-location margin-bottom-5px">
                  <div class="d-inline-block margin-right-5px">
                    <i
                      class="fas fa-phone-volume text-white vertical-align-middle"
                    ></i>
                  </div>
                  <div class="d-inline-block">
                    <a
                      href="javascript:void(0)"
                      class="text-white vertical-align-middle"
                      >+6494461709</a
                    >
                  </div>
                </div>
                <div class="store-location margin-bottom-5px">
                  <div class="d-inline-block margin-right-5px">
                    <i
                      class="far fa-envelope text-white vertical-align-middle"
                    ></i>
                  </div>
                  <div class="d-inline-block">
                    <a
                      href="javascript:void(0)"
                      class="text-white vertical-align-middle"
                      >demo@demo.com</a
                    >
                  </div>
                </div>
                <div class="store-location margin-bottom-5px">
                  <div class="d-inline-block margin-right-5px">
                    <i
                      class="fab fa-skype text-white vertical-align-middle"
                    ></i>
                  </div>
                  <div class="d-inline-block">
                    <a
                      href="javascript:void(0)"
                      class="text-white vertical-align-middle"
                      >John Doe-Skype</a
                    >
                  </div>
                </div>
              </div>
              <!-- store location end -->
              <!-- responsive store location start -->
              <div class="panel-group d-none sm-display-block" id="accordion3">
                <div class="panel-title">
                  <a
                    data-toggle="collapse"
                    data-parent="#accordion3"
                    href="#collapse3"
                    class="sm-text-extra-large text-tometo font-weight-600"
                    aria-expanded="false"
                    >Store location
                    <!-- plus icon starts -->
                    <i class="fas fa-plus-circle"></i>
                    <!-- plus icon ends -->
                  </a>
                </div>
                <div
                  id="collapse3"
                  class="panel-collapse collapse sm-text-large"
                >
                  <div
                    class="store-location sm-margin-bottom-10px sm-margin-top-15px"
                  >
                    <div class="d-inline-block margin-right-5px">
                      <i class="fas fa-map-marker-alt text-white"></i>
                    </div>
                    <div
                      class="d-inline-block text-white vertical-align-middle"
                    >
                      Demo store on road 10<br />United states
                    </div>
                  </div>
                  <div class="store-location sm-margin-bottom-10px">
                    <div class="d-inline-block margin-right-5px">
                      <i
                        class="fas fa-phone-volume text-white vertical-align-middle"
                      ></i>
                    </div>
                    <div class="d-inline-block">
                      <a
                        href="javascript:void(0)"
                        class="text-white vertical-align-middle"
                        >+6494461709</a
                      >
                    </div>
                  </div>
                  <div class="store-location sm-margin-bottom-10px">
                    <div class="d-inline-block margin-right-5px">
                      <i
                        class="far fa-envelope text-white vertical-align-middle"
                      ></i>
                    </div>
                    <div class="d-inline-block">
                      <a
                        href="javascript:void(0)"
                        class="text-white vertical-align-middle"
                        >demo@demo.com</a
                      >
                    </div>
                  </div>
                  <div class="store-location sm-margin-bottom-10px">
                    <div class="d-inline-block margin-right-5px">
                      <i
                        class="fab fa-skype text-white vertical-align-middle"
                      ></i>
                    </div>
                    <div class="d-inline-block">
                      <a
                        href="javascript:void(0)"
                        class="text-white vertical-align-middle"
                        >John Doe-Skype</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- responsive store location end -->
            </div>
            <div class="col-xl-5 col-lg-4 col-md-6">
              <div class="news-letter sm-display-none">
                <!-- footer-news-letter start -->
                <div class="text-large text-tometo margin-bottom-15px">
                  Newsletter
                </div>
                <div class="margin-bottom-5px">
                  <span class="text-white"
                    >Subscribe to get important updates</span
                  >
                </div>
                <form class="newsletter d-flex">
                  <input
                    type="email"
                    placeholder="Email your address"
                    name="mail"
                  />
                  <button class="btn btn-small1">Sign up</button>
                </form>
                <!-- footer-news-letter end -->
              </div>
              <!-- responsive footer-news-letter start -->
              <div class="panel-group d-none sm-display-block" id="accordion4">
                <div class="panel-title">
                  <a
                    data-toggle="collapse"
                    data-parent="#accordion4"
                    href="#collapse4"
                    class="sm-text-extra-large text-tometo font-weight-600"
                    aria-expanded="false"
                    >Newsletter
                    <!-- plus icon starts -->
                    <i class="fas fa-plus-circle"></i>
                    <!-- plus icon ends -->
                  </a>
                </div>
                <div
                  id="collapse4"
                  class="panel-collapse collapse sm-text-large"
                >
                  <!-- newsletter start -->
                  <div class="sm-margin-top-15px sm-margin-bottom-10px">
                    <span class="text-white"
                      >Subscribe to get important updates</span
                    >
                  </div>
                  <form class="newsletter d-flex">
                    <input
                      type="email"
                      placeholder="Email your address"
                      name="mail"
                      class="sm-text-large"
                    />
                    <button class="btn btn-small1">Sign up</button>
                  </form>
                  <!-- newsletter end-->
                  <!-- responsive payment start-->
                  <div class="payment">
                    <div
                      class="text-tometo sm-text-extra-large sm-margin-top-15px sm-margin-bottom-10px"
                    >
                      Payment
                    </div>
                    <div class="pay-option">
                      <a href="javascript:void(0)"
                        ><img
                          src="image/libazz-fashion-payment.png"
                          alt="payment"
                          class="img-fluid"
                      /></a>
                    </div>
                  </div>
                  <!-- responsive payment end-->
                </div>
              </div>
              <!-- responsive footer-news-letter end -->
              <!-- payment start-->
              <div class="payment sm-display-none">
                <div
                  class="text-large text-tometo margin-top-15px margin-bottom-15px"
                >
                  Payment
                </div>
                <a href="javascript:void(0)"
                  ><img
                    src="image/libazz-fashion-payment.png"
                    alt="payment"
                    class="img-fluid"
                /></a>
              </div>
              <!-- Payment start-->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- copy-right-section start -->
    <footer class="bg-tometo padding-top-10px padding-bottom-10px">
      <div class="container">
        <div class="row">
          <!-- footer copyright texts starts -->
          <div class="col-xl-6 col-lg-6 col-md-6 col-12">
            <div class="copyright text-white">
              Copyright <i class="far fa-copyright"></i> 2019 All Rights
              Reserved
            </div>
          </div>
          <!-- footer copyright texts ends -->
          <!-- footer terms & condition start -->
          <div class="col-xl-6 col-lg-6 col-md-6 col-12 text-right">
            <div class="terms">
              <a href="terms-condition.html" class="text-white"
                >Terms | Condition</a
              >
            </div>
          </div>
          <!-- footer terms & condition end -->
        </div>
      </div>
    </footer>
    <!-- copy-right-section end -->
    <!-- footer section end -->
  </div>
</template>

<script>
export default {
  name: "Footer1"
};
</script>

<style scoped></style>
