<template>
  <header class="head w-100 bg-dark-light-blue">
    <div class="container md-display-none">
      <div class="row">
        <div class="col-xl-4 col-lg-4">
          <!-- support section start -->
          <div class="padding-top-5px padding-bottom-5px">
            <div class="emailbox display-inline-block vertical-align-middle">
              <i class="far fa-envelope spin text-light-gray"></i>
            </div>
            <div class="display-inline-block">
              <a
                href="javaScript:void(0)"
                class="text-light-gray margin-left-5px text-decoration-none"
                >Support@libazz.com</a
              >
            </div>
          </div>
          <!-- support section end -->
        </div>
        <div class="col-xl-4 col-lg-4 text-center">
          <!-- time section start -->
          <div class="padding-top-5px padding-bottom-5px">
            <div class="clock display-inline-block vertical-align-middle">
              <i class="far fa-clock spin text-light-gray"></i>
            </div>
            <div class="display-inline-block">
              <div class="text-light-gray margin-left-5px">
                Mon-Sat : 09am-09pm
              </div>
            </div>
          </div>
          <!-- time section end -->
        </div>
        <div class="col-xl-4 col-lg-4 text-right">
          <!-- call section start -->
          <div class="padding-top-5px padding-bottom-5px">
            <div class="call display-inline-block vertical-align-middle">
              <i class="fas fa-phone-volume spin text-light-gray"></i>
            </div>
            <div class="display-inline-block">
              <div class="text-light-gray margin-left-5px text-decoration-none">
                +1654-5654
              </div>
            </div>
          </div>
          <!-- call section end -->
        </div>
      </div>
    </div>
    <!-- border start -->
    <div class="border-bottom-light md-display-none"></div>
    <!-- border end -->
    <div class="w-100 bg-dark-light-blue" id="collapsibleNavbar">
      <div class="container">
        <div class="row">
          <div
            class="col-xl-2 col-lg-2 col-md-4 col-5 d-flex align-items-center"
          >
            <!-- logo start -->
            <div class="mainlogo">
              <a class="navbar-brand" href="home.html">
                <img
                  v-bind:src="logoImg"
                  alt="logo"
                  class="img-fluid header-logo"
                />
              </a>
            </div>
            <!-- logo end -->
          </div>
          <div class="col-xl-8 col-lg-7 col-md-4 col-1 sm-no-padding">
            <!-- header navbar start -->
            <nav class="navbar navbar-expand-lg" id="navbar">
              <!-- navbar toggler start -->
              <button
                class="navbar-toggler toggler-example"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent1"
              >
                <span class="text-white"><i class="ti-align-justify"></i></span>
              </button>
              <!-- navbar toggler end -->
              <div
                class="collapse navbar-collapse bg-dark-light-blue"
                id="navbarSupportedContent1"
              >
                <!-- header nav start -->
                <ul class="nav navbar-nav topnav">
                  <!-- header-nav home start -->
                  <li class="active nav-home">
                    <a href="javaScript:void(0)"
                      >Home<i class="fas fa-angle-down padding-left-5px"></i
                    ></a>
                    <div class="dropdown-home">
                      <a href="javascript:void(0)">Home layout 1</a>
                      <a href="home2.html">Home layout 2</a>
                      <a href="home3.html">Home layout 3</a>
                      <a href="home4.html">Home layout 4</a>
                      <a href="home5.html">Home layout 5</a>
                      <a href="home6.html">Home layout 6</a>
                      <a href="home7.html">Home layout 7</a>
                    </div>
                  </li>
                  <!-- header-nav home end -->
                  <!-- header-nav category start -->
                  <li class="nav-category" id="show">
                    <a href="javascript:void(0)" class="nav-menu"
                      >Category<i class="fas fa-angle-down padding-left-5px"></i
                    ></a>
                    <div class="container-fluid md-no-padding">
                      <div class="row dropdown-content">
                        <!-- men category start -->
                        <div
                          class="col-xl-3 col-lg-3 col-md-12 col-12 parts dropdown-men"
                        >
                          <h3 class="text-large cat-head sm-text-extra-large">
                            Mens
                          </h3>
                          <a
                            href="category-tshirt.html"
                            class="padding-top-10px"
                            >Tshirt</a
                          >
                          <a href="category-shirt.html">Shirt</a>
                          <a href="category-pants.html">Pant</a>
                          <a href="category-jacket.html">Jacket</a>
                          <a href="category-footwear.html">Footwear</a>
                          <a href="category-bag-glasses.html">Bag & Glass</a>
                          <a href="category-mix.html">Mix</a>
                        </div>
                        <!-- men category end -->
                        <!-- women category start -->
                        <div class="col-xl-3 col-lg-3 col-md-12 col-12 parts">
                          <h3 class="text-large cat-head sm-text-extra-large">
                            Womens
                          </h3>
                          <a
                            href="category-women-tshirt.html"
                            class="padding-top-10px"
                            >Tshirt</a
                          >
                          <a href="category-women-shirt.html">Shirt</a>
                          <a href="category-women-pants.html">Pant</a>
                          <a href="category-women-footwear.html">Footwear</a>
                          <a href="category-women-leggings.html">Bikini set</a>
                          <a href="category-women-purse.html">Purse</a>
                          <a href="category-women-mix.html">Mix</a>
                        </div>
                        <!-- women category end -->
                        <!-- category image start -->
                        <div
                          class="col-xl-6 col-lg-6 col-md-6 col-12 d-flex align-items-center md-display-none"
                        >
                          <div class="mega-img">
                            <a href="javascript:void(0)"
                              ><img
                                src="image/libazz-fashion-megamenu-img.jpg"
                                alt="megamenu-img"
                                class="img-fluid w-100"
                            /></a>
                          </div>
                        </div>
                        <!-- category image end -->
                      </div>
                    </div>
                  </li>
                  <!-- header-nav category end -->
                  <!-- header-nav blog start -->
                  <li class="nav-blog">
                    <a class="drop-blog" href="javascript:void(0)"
                      >Blogs<i class="fas fa-angle-down padding-left-5px"></i
                    ></a>
                    <!-- all blog section start -->
                    <ul class="dropdown-blog">
                      <!-- blog start -->
                      <li class="dropdown-submenu">
                        <a href="javascript:void(0)"
                          >Blog<i class="fas fa-angle-right"></i
                        ></a>
                        <div class="dropdown-subblog">
                          <a href="blog.html">Blog</a>
                          <a href="blog-full.html">Blog full</a>
                          <a href="blog-left-side.html">Blog left</a>
                          <a href="blog-right-side.html">Blog right</a>
                          <a href="blog-left-right-side.html">Blog mix</a>
                          <a href="blog-left-side-full.html">Blog left full</a>
                          <a href="blog-right-side-full.html"
                            >Blog right full</a
                          >
                          <a href="blog-left-right-side-full.html"
                            >Blog mix full</a
                          >
                        </div>
                      </li>
                      <!-- blog end -->
                      <!-- blog-grid start -->
                      <li class="dropdown-submenu">
                        <a href="javascript:void(0)"
                          >Blog grid<i class="fas fa-angle-right"></i
                        ></a>
                        <ul class="dropdown-bloggrid">
                          <!-- blog 2 grid start -->
                          <li class="dropdown-submenu">
                            <a href="javascript:void(0)"
                              >Blog 2 grid<i class="fas fa-angle-right"></i
                            ></a>
                            <div class="dropdown-subblog-2grid">
                              <a href="blog-2-grid.html">2 grid</a>
                              <a href="blog-2-grid-left-side.html"
                                >2 grid left</a
                              >
                              <a href="blog-2-grid-right-side.html"
                                >2 grid right</a
                              >
                            </div>
                          </li>
                          <!-- blog 2 grid end -->
                          <!-- blog 3 grid start -->
                          <li class="dropdown-submenu">
                            <a href="javascript:void(0)"
                              >Blog 3 grid<i class="fas fa-angle-right"></i
                            ></a>
                            <div class="dropdown-subblog-3grid">
                              <a href="blog-3-grid.html">3 grid</a>
                              <a href="blog-3-grid-left-side.html"
                                >3 grid left</a
                              >
                              <a href="blog-3-grid-right-side.html"
                                >3 grid right</a
                              >
                              <a href="blog-3-grid-full.html">3 grid full</a>
                              <a href="blog-3-grid-left-side-full.html"
                                >3 grid left full</a
                              >
                              <a href="blog-3-grid-right-side-full.html"
                                >3 grid right full</a
                              >
                            </div>
                          </li>
                          <!-- blog 3 grid end -->
                          <!-- blog 4 grid start -->
                          <li class="dropdown-submenu">
                            <a href="javascript:void(0)"
                              >Blog 4 grid<i class="fas fa-angle-right"></i
                            ></a>
                            <div class="dropdown-subblog-4grid">
                              <a href="blog-4-grid.html">4 grid</a>
                              <a href="blog-4-grid-full.html">4 grid full</a>
                              <a href="blog-4-grid-left-side-full.html"
                                >4 grid left full</a
                              >
                              <a href="blog-4-grid-right-side-full.html"
                                >4 grid right full</a
                              >
                            </div>
                          </li>
                          <!-- blog 4 grid end -->
                        </ul>
                      </li>
                      <!-- blog-grid end -->
                      <!-- blog-simple start -->
                      <li class="dropdown-submenu">
                        <a href="javascript:void(0)"
                          >Blog simple<i class="fas fa-angle-right"></i
                        ></a>
                        <ul class="dropdown-blogsimple">
                          <!-- blog 2 simple start -->
                          <li class="dropdown-submenu">
                            <a href="javascript:void(0)"
                              >Blog 2 simple<i class="fas fa-angle-right"></i
                            ></a>
                            <div class="dropdown-subblog-2simple">
                              <a href="blog-2-grid-simple.html">2 simple</a>
                              <a href="blog-2-grid-simple-left-side.html"
                                >2 simple left</a
                              >
                              <a href="blog-2-grid-simple-right-side.html"
                                >2 simple right</a
                              >
                            </div>
                          </li>
                          <!-- blog 2 simple end -->
                          <!-- blog 3 simple start -->
                          <li class="dropdown-submenu">
                            <a href="javascript:void(0)"
                              >Blog 3 simple<i class="fas fa-angle-right"></i
                            ></a>
                            <div class="dropdown-subblog-3simple">
                              <a href="blog-3-grid-simple.html">3 simple</a>
                              <a href="blog-3-grid-simple-left-side.html"
                                >3 simple left</a
                              >
                              <a href="blog-3-grid-simple-right-side.html"
                                >3 simple right</a
                              >
                              <a href="blog-3-grid-simple-full.html"
                                >3 simple full</a
                              >
                              <a href="blog-3-grid-simple-left-side-full.html"
                                >3 simple left full</a
                              >
                              <a href="blog-3-grid-simple-right-side-full.html"
                                >3 simple right full</a
                              >
                            </div>
                          </li>
                          <!-- blog 3 simple end -->
                          <!-- blog 4 simple start -->
                          <li class="dropdown-submenu">
                            <a href="javascript:void(0)"
                              >Blog 4 simple<i class="fas fa-angle-right"></i
                            ></a>
                            <div class="dropdown-subblog-4simple">
                              <a href="blog-4-grid-simple.html">4 simple</a>
                              <a href="blog-4-grid-simple-full.html"
                                >4 simple full</a
                              >
                              <a href="blog-4-grid-left-side-simple-full.html"
                                >4 simple left full</a
                              >
                              <a href="blog-4-grid-right-side-simple-full.html"
                                >4 simple right full</a
                              >
                            </div>
                          </li>
                          <!-- blog 4 simple end -->
                        </ul>
                      </li>
                      <!-- blog-simple end -->
                      <!-- blog-list start -->
                      <li class="dropdown-submenu">
                        <a href="javascript:void(0)"
                          >Blog list<i class="fas fa-angle-right"></i
                        ></a>
                        <div class="dropdown-bloglist">
                          <a href="blog-list.html">List</a>
                          <a href="blog-list-full.html">List full</a>
                          <a href="blog-list-left-side.html">List left</a>
                          <a href="blog-list-right-side.html">List right</a>
                          <a href="blog-list-left-right-side.html">List mix</a>
                          <a href="blog-list-left-side-full.html"
                            >List left full</a
                          >
                          <a href="blog-list-right-side-full.html"
                            >List right full</a
                          >
                          <a href="blog-list-left-right-side-full.html"
                            >List mix full</a
                          >
                        </div>
                      </li>
                      <!-- blog-list end -->
                      <!-- blog-classic start -->
                      <li class="dropdown-submenu">
                        <a href="javascript:void(0)"
                          >Blog classic<i class="fas fa-angle-right"></i
                        ></a>
                        <div class="dropdown-blogclassic">
                          <a href="blog-classic.html">Classic</a>
                          <a href="blog-classic-full.html">Classic full</a>
                          <a href="blog-left-side-classic.html">Classic left</a>
                          <a href="blog-right-side-classic.html"
                            >Classic right</a
                          >
                          <a href="blog-left-side-classic-full.html"
                            >Classic left full</a
                          >
                          <a href="blog-right-side-classic-full.html"
                            >Classic right full</a
                          >
                        </div>
                      </li>
                      <!-- blog-classic end -->
                      <!-- blog-sticky start -->
                      <li class="dropdown-submenu">
                        <a href="javascript:void(0)"
                          >Blog sticky<i class="fas fa-angle-right"></i
                        ></a>
                        <div class="dropdown-blogsticky">
                          <a href="blog-left-side-sticky.html">Sticky left</a>
                          <a href="blog-right-side-sticky.html">Sticky right</a>
                          <a href="blog-left-right-side-sticky.html"
                            >Sticky mix</a
                          >
                          <a href="blog-list-left-right-side-sticky.html"
                            >List sticky mix</a
                          >
                          <a href="blog-left-side-sticky-full.html"
                            >Sticky left full</a
                          >
                          <a href="blog-right-side-sticky-full.html"
                            >Sticky right full</a
                          >
                          <a href="blog-left-right-side-sticky-full.html"
                            >Sticky mix full</a
                          >
                          <a href="blog-list-left-right-side-sticky-full.html"
                            >List sticky mix full</a
                          >
                        </div>
                      </li>
                      <!-- blog-sticky end -->
                    </ul>
                    <!-- all blog section end -->
                  </li>
                  <!-- header-nav blog end -->
                  <!-- header-nav product start -->
                  <li class="nav-product">
                    <a href="javascript:void(0)"
                      >Product<i class="fas fa-angle-down padding-left-5px"></i
                    ></a>
                    <!-- all product start -->
                    <ul class="dropdown-product">
                      <!-- product-grid start -->
                      <li class="dropdown-submenu">
                        <a href="javaScript:void(0)"
                          >Product grid<i class="fas fa-angle-right"></i
                        ></a>
                        <ul class="dropdown-productgrid">
                          <!-- product 2 grid start -->
                          <li class="dropdown-submenu">
                            <a href="javascript:void(0)"
                              >Product 2 grid<i class="fas fa-angle-right"></i
                            ></a>
                            <div class="dropdown-subproduct-2grid">
                              <a href="product-2-grid.html">2 grid</a>
                              <a href="product-2-grid-left-side.html"
                                >2 grid left</a
                              >
                              <a href="product-2-grid-right-side.html"
                                >2 grid right</a
                              >
                            </div>
                          </li>
                          <!-- product 2 grid end -->
                          <!-- product 3 grid start -->
                          <li class="dropdown-submenu">
                            <a href="javascript:void(0)"
                              >Product 3 grid<i class="fas fa-angle-right"></i
                            ></a>
                            <div class="dropdown-subproduct-3grid">
                              <a href="product-3-grid.html">3 grid</a>
                              <a href="product-3-grid-left-side.html"
                                >3 grid left</a
                              >
                              <a href="product-3-grid-right-side.html"
                                >3 grid right</a
                              >
                              <a href="product-3-grid-full.html">3 grid full</a>
                              <a href="product-3-grid-left-side-full.html"
                                >3 grid left full</a
                              >
                              <a href="product-3-grid-right-side-full.html"
                                >3 grid right full</a
                              >
                            </div>
                          </li>
                          <!-- product 3 grid end -->
                          <!-- product 4 grid start -->
                          <li class="dropdown-submenu">
                            <a href="javascript:void(0)"
                              >Product 4 grid<i class="fas fa-angle-right"></i
                            ></a>
                            <div class="dropdown-subproduct-4grid">
                              <a href="product-4-grid.html">4 grid</a>
                              <a href="product-4-grid-left-side.html"
                                >4 grid left</a
                              >
                              <a href="product-4-grid-right-side.html"
                                >4 grid right</a
                              >
                              <a href="product-4-grid-full.html">4 grid full</a>
                              <a href="product-4-grid-left-side-full.html"
                                >4 grid left full</a
                              >
                              <a href="product-4-grid-right-side-full.html"
                                >4 grid right full</a
                              >
                            </div>
                          </li>
                          <!-- product 4 grid end -->
                          <!-- product 6 grid start -->
                          <li class="dropdown-submenu">
                            <a href="product-6-grid-full.html"
                              >Product 6 grid full</a
                            >
                          </li>
                          <!-- product 6 grid end -->
                          <!-- product-all-in-one start -->
                          <li class="dropdown-submenu">
                            <a href="allinonegrid.html">All in one grid</a>
                          </li>
                          <!-- product-all-in-one end -->
                        </ul>
                      </li>
                      <!-- product-grid end -->
                      <!-- product-list start -->
                      <li class="dropdown-submenu">
                        <a href="javascript:void(0)"
                          >Product list<i class="fas fa-angle-right"></i
                        ></a>
                        <div class="dropdown-productlist">
                          <a href="product-list.html">List</a>
                          <a href="product-list-full.html">List full</a>
                          <a href="product-list-left-side.html">List left</a>
                          <a href="product-list-right-side.html">List right</a>
                          <a href="product-list-left-side-full.html"
                            >List left full</a
                          >
                          <a href="product-list-right-side-full.html"
                            >List right full</a
                          >
                        </div>
                      </li>
                      <!-- product-list end -->
                      <!-- product-list-advance start -->
                      <li class="dropdown-submenu">
                        <a href="javascript:void(0)"
                          >Product list advance<i class="fas fa-angle-right"></i
                        ></a>
                        <div class="dropdown-productlistadv">
                          <a href="product-list-advance.html">List adv</a>
                          <a href="product-list-advance-full.html"
                            >List adv full</a
                          >
                          <a href="product-list-left-side-advance.html"
                            >List adv left</a
                          >
                          <a href="product-list-right-side-advance.html"
                            >List adv right</a
                          >
                          <a href="product-list-left-side-advance-full.html"
                            >List adv left full</a
                          >
                          <a href="product-list-right-side-advance-full.html"
                            >List adv right full</a
                          >
                        </div>
                      </li>
                      <!-- product-list-advance end -->
                      <!-- product-detail start -->
                      <li class="dropdown-submenu">
                        <a href="javascript:void(0)"
                          >Product detail<i class="fas fa-angle-right"></i
                        ></a>
                        <div class="dropdown-productdetail">
                          <a href="product-detail.html">Detail</a>
                          <a href="product-detail-simple.html">Detail simple</a>
                          <a href="product-detail-slider.html">Detail slider</a>
                          <a href="product-detail-sticky.html">Detail sticky</a>
                          <a href="product-detail-with-zoom-effect.html"
                            >Detail zoom effect</a
                          >
                        </div>
                      </li>
                      <!-- product-detail end -->
                      <!-- product-comparision start -->
                      <li class="dropdown-submenu">
                        <a href="javascript:void(0)"
                          >Product comparision<i class="fas fa-angle-right"></i
                        ></a>
                        <div class="dropdown-productcomp">
                          <a href="product-comparision.html">Comparision</a>
                          <a href="product-comparision-adv.html"
                            >Comparision adv</a
                          >
                        </div>
                      </li>
                      <!-- product-comparision end -->
                    </ul>
                    <!-- all product end -->
                  </li>
                  <!-- header-nav product end -->
                  <!-- header-nav page start -->
                  <li class="nav-page">
                    <a href="javascript:void(0)"
                      >Pages<i class="fas fa-angle-down padding-left-5px"></i
                    ></a>
                    <div class="dropdown-page">
                      <a href="about-us.html">About</a>
                      <a href="billing-info.html">Billing info</a>
                      <a href="cancellation.html">Cancellation</a>
                      <a href="cart-page.html">Cart page</a>
                      <a href="checkout.html">Checkout</a>
                      <a href="coming-soon.html">Coming soon</a>
                      <a href="faqs.html">Faq's</a>
                      <a href="forgot-pwd.html">Forgot password</a>
                      <a href="order-complete.html">Order complete</a>
                      <a href="privacy-policy.html">Privacy policy</a>
                      <a href="signup.html">Signup</a>
                      <a href="signin.html">Signin</a>
                      <a href="site-map.html">Sitemap</a>
                      <a href="terms-condition.html">Terms & condition</a>
                      <a href="track-page.html">Track page</a>
                      <a href="wishlist.html">Wishlist</a>
                      <a href="fnf.html">4 not 4</a>
                    </div>
                  </li>
                  <!-- header-nav page end -->
                  <!-- header-nav store start -->
                  <li class="nav-store">
                    <a href="stores.html" class="">Stores</a>
                  </li>
                  <!-- header-nav store end -->
                  <!-- header-nav contact start -->
                  <li class="nav-contact">
                    <a href="contact-us.html" class="">Contact</a>
                  </li>
                  <!-- header-nav contact end -->
                </ul>
                <!-- header nav end -->
              </div>
            </nav>
            <!-- header navbar end -->
          </div>
          <div
            class="col-xl-2 col-lg-3 col-md-4 col-6 d-flex justify-content-end align-items-center sm-no-padding-left"
          >
            <!-- header icon start -->
            <div class="input-search-1">
              <!-- search icon start -->
              <div class="display-inline-block search sm-no-margin-left">
                <div class="padding-tb">
                  <a
                    class="text-white middle"
                    data-toggle="collapse"
                    data-parent="#search"
                    href="#search"
                    ><i class="ti-search"></i
                  ></a>
                  <div class="search-bar collapse" id="search">
                    <input
                      type="text"
                      class="text-black"
                      placeholder="Search your product"
                    />
                    <a href="search.html" class="text-black search-result"
                      ><i class="ti-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
              <!-- search icon end -->
              <!-- setting icon start -->
              <div class="display-inline-block setting">
                <div class="padding-tb">
                  <div class="margin-left-10px sm-margin-left-5px">
                    <a href="javascript:void(0)" class="middle"
                      ><i class="ti-settings"></i
                    ></a>
                    <div class="setting-drop-down">
                      <!-- language setting start -->
                      <div class="d-block padding-10px">
                        <div class="d-inline-block">
                          <label>Language</label>
                        </div>
                        <div class="arrow display-inline-block">
                          <select class="language d-inline-block">
                            <option>English</option>
                            <option>Hindi</option>
                          </select>
                        </div>
                      </div>
                      <!-- language setting end -->
                      <!-- language-currency border start -->
                      <div
                        class="border-top-light-gray margin-left-10px margin-right-10px"
                      ></div>
                      <!-- language-currency border end -->
                      <!-- currency setting start -->
                      <div class="d-block padding-10px">
                        <div
                          class="d-inline-block float-left margin-right-10px"
                        >
                          <label>Currency</label>
                        </div>
                        <div class="arrow display-inline-block">
                          <select class="currency d-inline-block">
                            <option>Inr</option>
                            <option>Euro</option>
                          </select>
                        </div>
                      </div>
                      <!-- currency setting end -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- setting icon end -->
              <!-- wishlist icon start -->
              <div class="display-inline-block wishlist">
                <div class="padding-tb">
                  <div class="margin-left-10px sm-margin-left-5px">
                    <a href="wishlist.html" class="middle"
                      ><i class="ti-heart"></i
                    ></a>
                    <!-- wishlist item-count start -->
                    <div class="item-in-cart-1">
                      <div
                        class="d-flex justify-content-center align-items-center"
                      >
                        3
                      </div>
                    </div>
                    <!-- wishlist item-count end -->
                  </div>
                </div>
              </div>
              <!-- wishlist icon end -->
              <!-- cart icon start -->
              <div class="display-inline-block cart">
                <div class="show-cart padding-tb">
                  <div class="margin-left-10px sm-margin-left-5px">
                    <a href="javascript:void(0)" class="show-cart-click middle"
                      ><i class="ti-shopping-cart"></i
                    ></a>
                    <!-- cart item-count start -->
                    <div class="item-in-cart-1">
                      <div
                        class="d-flex justify-content-center align-items-center"
                      >
                        5
                      </div>
                    </div>
                    <!-- cart item-count start -->
                    <!-- cart item start -->
                    <div class="cart-drop-down">
                      <div class="item-limit">
                        <!-- cart item1 start -->
                        <div class="row padding-15px-tb">
                          <div
                            class="col-xl-4 col-lg-4 col-md-4 col-4 padding-left-15px padding-right-0px"
                          >
                            <div class="padding-left-15px">
                              <a href="javascript:void(0)"
                                ><img
                                  src="image/libazz-fashion-cart-1.jpg"
                                  alt="cart-1"
                                  class="img-fluid"
                              /></a>
                            </div>
                          </div>
                          <div
                            class="col-xl-8 col-lg-8 col-md-8 col-8 padding-left-15px"
                          >
                            <div class="padding-right-15px">
                              <div
                                class="cart-pro-name font-weight-600 d-block"
                              >
                                <a href="javascript:void(0)" class="text-black"
                                  >Silk Cotton Shirt</a
                                >
                              </div>
                              <div class="quantity d-block">
                                <div class="plus-minus">
                                  <span
                                    class="padding-5px border-light-gray sm-text-large"
                                  >
                                    <a
                                      href="javascript:void(0)"
                                      class="plus-btn text-black"
                                      ><i class="fas fa-plus"></i
                                    ></a>
                                    <input
                                      type="text"
                                      name="name"
                                      value="1"
                                      class="border-left-light-gray border-right-light-gray"
                                    />
                                    <a
                                      href="javascript:void(0)"
                                      class="minus-btn text-black"
                                      ><i class="fas fa-minus"></i
                                    ></a>
                                  </span>
                                </div>
                              </div>
                              <div class="cart-pro-price d-block">
                                <div class="price d-inline-block">
                                  <div class="text-black">$413.00</div>
                                </div>
                                <div class="delete d-inline-block float-right">
                                  <a
                                    href="javaScript:void(0)"
                                    class="trash text-black"
                                    ><i class="ti-trash"></i
                                  ></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- cart item1 end -->
                        <!-- cart item border start -->
                        <div
                          class="border-top-light-gray margin-left-15px margin-right-15px"
                        ></div>
                        <!-- cart item border end -->
                        <!-- cart item2 start -->
                        <div class="row padding-15px-tb">
                          <div
                            class="col-xl-4 col-lg-4 col-md-4 col-4 padding-left-15px padding-right-0px"
                          >
                            <div class="padding-left-15px">
                              <a href="javascript:void(0)"
                                ><img
                                  src="image/libazz-fashion-cart-2.jpg"
                                  alt="cart-2"
                                  class="img-fluid"
                              /></a>
                            </div>
                          </div>
                          <div
                            class="col-xl-8 col-lg-8 col-md-8 col-8 padding-left-15px"
                          >
                            <div class="padding-right-15px">
                              <div
                                class="cart-pro-name font-weight-600 d-block"
                              >
                                <a href="javascript:void(0)" class="text-black"
                                  >Silk Cotton Shirt</a
                                >
                              </div>
                              <div class="quantity d-block">
                                <div class="plus-minus">
                                  <span
                                    class="padding-5px border-light-gray sm-text-large"
                                  >
                                    <a
                                      href="javascript:void(0)"
                                      class="plus-btn text-black"
                                      ><i class="fas fa-plus"></i
                                    ></a>
                                    <input
                                      type="text"
                                      name="name"
                                      value="1"
                                      class="border-left-light-gray border-right-light-gray"
                                    />
                                    <a
                                      href="javascript:void(0)"
                                      class="minus-btn text-black"
                                      ><i class="fas fa-minus"></i
                                    ></a>
                                  </span>
                                </div>
                              </div>
                              <div class="cart-pro-price d-block">
                                <div class="price d-inline-block">
                                  <div class="text-black">$413.00</div>
                                </div>
                                <div class="delete d-inline-block float-right">
                                  <a
                                    href="javaScript:void(0)"
                                    class="trash text-black"
                                    ><i class="ti-trash"></i
                                  ></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- cart item2 end -->
                        <!-- cart item border start -->
                        <div
                          class="border-top-light-gray margin-left-15px margin-right-15px"
                        ></div>
                        <!-- cart item border end -->
                        <!-- cart item3 start -->
                        <div class="row padding-15px-tb">
                          <div
                            class="col-xl-4 col-lg-4 col-md-4 col-4 padding-left-15px padding-right-0px"
                          >
                            <div class="padding-left-15px">
                              <a href="javascript:void(0)"
                                ><img
                                  src="image/libazz-fashion-cart-3.jpg"
                                  alt="cart-3"
                                  class="img-fluid"
                              /></a>
                            </div>
                          </div>
                          <div
                            class="col-xl-8 col-lg-8 col-md-8 col-8 padding-left-15px"
                          >
                            <div class="padding-right-15px">
                              <div
                                class="cart-pro-name font-weight-600 d-block"
                              >
                                <a href="javascript:void(0)" class="text-black"
                                  >Silk Cotton Shirt</a
                                >
                              </div>
                              <div class="quantity d-block">
                                <div class="plus-minus">
                                  <span
                                    class="padding-5px border-light-gray sm-text-large"
                                  >
                                    <a
                                      href="javascript:void(0)"
                                      class="plus-btn text-black"
                                      ><i class="fas fa-plus"></i
                                    ></a>
                                    <input
                                      type="text"
                                      name="name"
                                      value="1"
                                      class="border-left-light-gray border-right-light-gray"
                                    />
                                    <a
                                      href="javascript:void(0)"
                                      class="minus-btn text-black"
                                      ><i class="fas fa-minus"></i
                                    ></a>
                                  </span>
                                </div>
                              </div>
                              <div class="cart-pro-price d-block">
                                <div class="price d-inline-block">
                                  <div class="text-black">$413.00</div>
                                </div>
                                <div class="delete d-inline-block float-right">
                                  <a
                                    href="javaScript:void(0)"
                                    class="trash text-black"
                                    ><i class="ti-trash"></i
                                  ></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- cart item3 end -->
                        <!-- cart item border start -->
                        <div
                          class="border-top-light-gray margin-left-15px margin-right-15px"
                        ></div>
                        <!-- cart item border end -->
                        <!-- cart item4 start -->
                        <div class="row padding-15px-tb">
                          <div
                            class="col-xl-4 col-lg-4 col-md-4 col-4 padding-left-15px padding-right-0px"
                          >
                            <div class="padding-left-15px">
                              <a href="javascript:void(0)"
                                ><img
                                  src="image/libazz-fashion-cart-4.jpg"
                                  alt="cart-4"
                                  class="img-fluid"
                              /></a>
                            </div>
                          </div>
                          <div
                            class="col-xl-8 col-lg-8 col-md-8 col-8 padding-left-15px"
                          >
                            <div class="padding-right-15px">
                              <div
                                class="cart-pro-name font-weight-600 d-block"
                              >
                                <a href="javascript:void(0)" class="text-black"
                                  >Silk Cotton Shirt</a
                                >
                              </div>
                              <div class="quantity d-block">
                                <div class="plus-minus">
                                  <span
                                    class="padding-5px border-light-gray sm-text-large"
                                  >
                                    <a
                                      href="javascript:void(0)"
                                      class="plus-btn text-black"
                                      ><i class="fas fa-plus"></i
                                    ></a>
                                    <input
                                      type="text"
                                      name="name"
                                      value="1"
                                      class="border-left-light-gray border-right-light-gray"
                                    />
                                    <a
                                      href="javascript:void(0)"
                                      class="minus-btn text-black"
                                      ><i class="fas fa-minus"></i
                                    ></a>
                                  </span>
                                </div>
                              </div>
                              <div class="cart-pro-price d-block">
                                <div class="price d-inline-block">
                                  <div class="text-black">$413.00</div>
                                </div>
                                <div class="delete d-inline-block float-right">
                                  <a
                                    href="javaScript:void(0)"
                                    class="trash text-black"
                                    ><i class="ti-trash"></i
                                  ></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- cart item4 end -->
                        <!-- cart item border start -->
                        <div
                          class="border-top-light-gray margin-left-15px margin-right-15px"
                        ></div>
                        <!-- cart item border end -->
                        <!-- cart item5 start -->
                        <div class="row padding-15px-tb">
                          <div
                            class="col-xl-4 col-lg-4 col-md-4 col-4 padding-left-15px padding-right-0px"
                          >
                            <div class="padding-left-15px">
                              <a href="javascript:void(0)"
                                ><img
                                  src="image/libazz-fashion-cart-5.jpg"
                                  alt="cart-5"
                                  class="img-fluid"
                              /></a>
                            </div>
                          </div>
                          <div
                            class="col-xl-8 col-lg-8 col-md-8 col-8 padding-left-15px"
                          >
                            <div class="padding-right-15px">
                              <div
                                class="cart-pro-name font-weight-600 d-block"
                              >
                                <a href="javascript:void(0)" class="text-black"
                                  >Silk Cotton Shirt</a
                                >
                              </div>
                              <div class="quantity d-block">
                                <div class="plus-minus">
                                  <span
                                    class="padding-5px border-light-gray sm-text-large"
                                  >
                                    <a
                                      href="javascript:void(0)"
                                      class="plus-btn text-black"
                                      ><i class="fas fa-plus"></i
                                    ></a>
                                    <input
                                      type="text"
                                      name="name"
                                      value="1"
                                      class="border-left-light-gray border-right-light-gray"
                                    />
                                    <a
                                      href="javascript:void(0)"
                                      class="minus-btn text-black"
                                      ><i class="fas fa-minus"></i
                                    ></a>
                                  </span>
                                </div>
                              </div>
                              <div class="cart-pro-price d-block">
                                <div class="price d-inline-block">
                                  <div class="text-black">$413.00</div>
                                </div>
                                <div class="delete d-inline-block float-right">
                                  <a
                                    href="javaScript:void(0)"
                                    class="trash text-black"
                                    ><i class="ti-trash"></i
                                  ></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- cart item5 end -->
                      </div>
                      <!-- cart item border start -->
                      <div
                        class="border-top-light-gray margin-left-15px margin-right-15px"
                      ></div>
                      <!-- cart item border end -->
                      <!-- cart button start -->
                      <div class="row padding-15px-tb">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                          <!-- cart view-cart button start -->
                          <div class="continue-shop padding-left-15px">
                            <a href="cart-page.html" class="btn btn-small-1"
                              >Viewcart</a
                            >
                          </div>
                          <!-- cart view-cart button end -->
                        </div>
                        <div
                          class="col-xl-6 col-lg-6 col-md-6 col-6 text-right"
                        >
                          <!-- cart checkout button start -->
                          <div class="check-out padding-right-15px">
                            <a href="checkout.html" class="btn btn-small-1"
                              >Checkout</a
                            >
                          </div>
                          <!-- cart checkout button end -->
                        </div>
                      </div>
                      <!-- cart button end -->
                    </div>
                    <!-- cart item end -->
                  </div>
                </div>
              </div>
              <!-- cart icon end -->
              <!-- user icon start -->
              <div class="display-inline-block users">
                <div class="user padding-tb">
                  <div class="margin-left-10px sm-margin-left-5px">
                    <a href="javascript:void(0)" class="middle"
                      ><i class="ti-user"></i
                    ></a>
                    <!-- user icon attribute start -->
                    <div class="user-drop-down">
                      <a
                        href="signin.html"
                        class="text-black d-block border-bottom-light-gray"
                        >View Profile</a
                      >
                      <a
                        href="signin.html"
                        class="text-black d-block border-bottom-light-gray"
                        >Your Orders</a
                      >
                      <a
                        href="wishlist.html"
                        class="text-black d-block border-bottom-light-gray"
                        >Your Wishlist</a
                      >
                      <a href="index.html" class="text-black d-block">Logout</a>
                    </div>
                    <!-- user icon attribute end -->
                  </div>
                </div>
              </div>
              <!-- user icon end -->
            </div>
            <!-- header icon end -->
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import { imageUtil } from "../../globalUtility/imageHelper";

export default {
  name: "Header1",
  data() {
    return {
      logoImg: imageUtil.images.LibazzLogo
    };
  }
};
</script>

<style />
