<template>
  <div>
    <Header1 />
    <Slider1 />
    <Banner1 />
    <OurProducts />
    <TrendingProducts />
    <BestDeal />
    <DealOfTheDay />
    <FollowUs />
    <Service />
    <Footer1 />
  </div>
</template>

<script>

import Header1 from "./Header1";
import Slider1 from "./Slider1";
import Banner1 from "./Banner1";
import OurProducts from "./OurProducts";
import TrendingProducts from "./TrendingProducts";
import BestDeal from "./BestDeal";
import DealOfTheDay from "./DealOfTheDay";
import FollowUs from "./FollowUs";
import Service from "./Service";
import Footer1 from "./Footer1";

export default {
  name: "Layout1",
  components: {
    Header1,
    Slider1,
    Banner1,
    OurProducts,
    TrendingProducts,
    BestDeal,
    DealOfTheDay,
    FollowUs,
    Service,
    Footer1
  }
};
</script>

<style />
