<template>
    <!-- product section start -->
    <section class="padding-80px-tb border-top-light-gray">
        <div class="container">
            <div class="row">
                <!-- product heading start -->
                <div class="col-xl-12 text-center margin-bottom-40px lg-margin-bottom-30px md-margin-bottom-25px sm-margin-bottom-20px">
                    <h3 class="title-heading text-black font-weight-600 lg-title-medium md-title-medium sm-title-mdmore">Our Products</h3>
                    <div class="title-desc text-silver font-weight-500 sm-text-large">The products which you never see anywhere</div>
                </div>
                <!-- product heading end -->
            </div>
        </div>
        <div class="container">
            <!-- product tab start -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 index-tab margin-bottom-30px sm-margin-bottom-15px">
                    <ul class="nav nav-pills" role="tablist">
                        <!-- product tab name start -->
                        <li class="nav-item active-3">
                            <a class="text-black sm-text-large btn" data-toggle="pill" href="#man">Man</a>
                        </li>
                        <!-- product tab name end -->
                        <!-- product tab name start -->
                        <li class="nav-item">
                            <a class="text-black sm-text-large btn" data-toggle="pill" href="#woman">Woman</a>
                        </li>
                        <!-- product tab name end -->
                        <!-- product tab name start -->
                        <li class="nav-item">
                            <a class="text-black sm-text-large btn" data-toggle="pill" href="#handbag">Handbag</a>
                        </li>
                        <!-- product tab name end -->
                        <!-- product tab name start -->
                        <li class="nav-item">
                            <a class="text-black sm-text-large btn" data-toggle="pill" href="#trendy">Trendy</a>
                        </li>
                        <!-- product tab name end -->
                        <!-- product tab name start -->
                        <li class="nav-item">
                            <a class="text-black sm-text-large btn" data-toggle="pill" href="#handmade">Handmade</a>
                        </li>
                        <!-- product tab name end -->
                    </ul>
                </div>
            </div>
            <!-- product tab end -->
            <div class="row product-quickview-section">
                <!-- product quick-view start -->
                <div class="animated modal zoomIn" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- quick-view content start-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <!-- quick-view heading start -->
                                <h4 class="modal-title font-weight-600 title-medium md-title-med-more2 sm-title-mdmore">Product Quickview</h4>
                                <!-- quick-view heading end -->
                                <!-- quick-view close-button start -->
                                <button type="button" class="close" data-dismiss="modal"><i class="ti-close"></i></button>
                                <!-- quick-view close-button end -->
                            </div>
                            <!-- quick-view body start -->
                            <div class="modal-body">
                                <div class="row product-list">
                                    <div class="preview col-xl-6 col-lg-6 col-md-6 col-12 sm-no-padding sm-margin-bottom-20px">
                                        <!-- product main image start -->
                                        <div class="preview-pic tab-content">
                                            <!-- product main image 1 start -->
                                            <div class="tab-pane active" id="pic-1">
                                                <a href="javaScript:void(0)"><img src="image/libazz-fashion-productimg1.jpg" alt="product-detail" class="img-fluid w-100"></a>
                                            </div>
                                            <!-- product main image 1 end -->
                                            <!-- product main image 2 start -->
                                            <div class="tab-pane" id="pic-2">
                                                <a href="javaScript:void(0)"><img src="image/libazz-fashion-productimg1-2.jpg" alt="product-detail" class="img-fluid w-100"></a>
                                            </div>
                                            <!-- product main image 2 end -->
                                            <!-- product main image 3 start -->
                                            <div class="tab-pane" id="pic-3">
                                                <a href="javaScript:void(0)"><img src="image/libazz-fashion-productimg2.jpg" alt="product-detail" class="img-fluid w-100"></a>
                                            </div>
                                            <!-- product main image 3 end -->
                                            <!-- product main image 4 start -->
                                            <div class="tab-pane" id="pic-4">
                                                <a href="javaScript:void(0)"><img src="image/libazz-fashion-productimg2-2.jpg" alt="product-detail" class="img-fluid w-100"></a>
                                            </div>
                                            <!-- product main image 4 end -->
                                            <!-- product main image 5 start -->
                                            <div class="tab-pane" id="pic-5">
                                                <a href="javaScript:void(0)"><img src="image/libazz-fashion-productimg3.jpg" alt="product-detail" class="img-fluid w-100"></a>
                                            </div>
                                            <!-- product image 5 end -->
                                        </div>
                                        <!-- product main image end -->
                                        <!-- product below image start -->
                                        <ul class="preview-thumbnail nav nav-tabs">
                                            <!-- product below image 1 start -->
                                            <li class="active">
                                                <a href="javaScript:void(0)" data-target="#pic-1" data-toggle="tab"><img src="image/libazz-fashion-productimg1.jpg" alt="product-detail" class="img-fluid w-100"></a>
                                            </li>
                                            <!-- product below image 1 end -->
                                            <!-- product below image 2 start -->
                                            <li>
                                                <a href="javaScript:void(0)" data-target="#pic-2" data-toggle="tab"><img src="image/libazz-fashion-productimg1-2.jpg" alt="product-detail" class="img-fluid w-100"></a>
                                            </li>
                                            <!-- product below image 2 end -->
                                            <!-- product below image 3 start -->
                                            <li>
                                                <a href="javaScript:void(0)" data-target="#pic-3" data-toggle="tab"><img src="image/libazz-fashion-productimg2.jpg" alt="product-detail" class="img-fluid w-100"></a>
                                            </li>
                                            <!-- product below image 3 end -->
                                            <!-- product below image 4 start -->
                                            <li>
                                                <a href="javaScript:void(0)" data-target="#pic-4" data-toggle="tab"><img src="image/libazz-fashion-productimg2-2.jpg" alt="product-detail" class="img-fluid w-100"></a>
                                            </li>
                                            <!-- product below image 4 end -->
                                            <!-- product below image 5 start -->
                                            <li>
                                                <a href="javaScript:void(0)" data-target="#pic-5" data-toggle="tab"><img src="image/libazz-fashion-productimg3.jpg" alt="product-detail" class="img-fluid w-100"></a>
                                            </li>
                                            <!-- product below image 5 end -->
                                        </ul>
                                        <!-- product below image end -->
                                    </div>
                                    <!-- product detail start -->
                                    <div class="details col-xl-6 col-lg-6 col-md-6 col-12 sm-no-padding">
                                        <div class="product-quick-view">
                                            <!-- product heading start -->
                                            <div class="d-block">
                                                <h3 class="product-title font-weight-600 text-extra-large md-title-mdall">Silk Cotton Shirt</h3>
                                            </div>
                                            <!-- product heading end -->
                                            <!-- product price-tag start -->
                                            <div class="price d-block">
                                                <label class="font-weight-600">Price:</label>
                                                <span class="font-weight-600 sm-text-large">$180</span>
                                                <sub class="font-weight-600">M.r.p<span class="margin-left-5px text-decoration-line-through font-weight-600">$250</span><span class="margin-left-5px font-weight-600 text-dark-blue">(-28% Off)</span></sub>
                                            </div>
                                            <!-- product price-tag end -->
                                            <!-- product description start -->
                                            <div class="product-description d-block">
                                                <p class="no-margin-bottom sm-text-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                            </div>
                                            <!-- product description end -->
                                            <!-- product rating start -->
                                            <div class="rating d-block">
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating-gray font-weight-600"></i>
                                            </div>
                                            <!-- product rating end -->
                                            <!-- product size start -->
                                            <div class="size d-block">
                                                <label class="font-weight-600">Size:</label>
                                                <a href="#" class="text-black border-light-gray text-center sm-text-large">XS</a>
                                                <a href="#" class="text-black border-light-gray text-center sm-text-large">S</a>
                                                <a href="#" class="text-black border-light-gray text-center sm-text-large">XL</a>
                                                <a href="#" class="text-black border-light-gray text-center sm-text-large">XXL</a>
                                            </div>
                                            <!-- product size end -->
                                            <!-- product color start -->
                                            <span class="color d-block">
                                                    <label class="no-margin-bottom font-weight-600">Color:</label>
                                                    <a href="#" class="red margin-right-5px" title="red"></a>
                                                    <a href="#" class="blue margin-right-5px" title="blue"></a>
                                                    <a href="#" class="yellow margin-right-5px" title="yellow"></a>
                                                    <a href="#" class="pink" title="pink"></a>
                                                </span>
                                            <!-- product color end -->
                                            <!-- product quantity start -->
                                            <span class="quantity d-block">
                                                    <label class="no-margin-bottom font-weight-600">Quantity:</label>
                                                    <span class="padding-5px border-light-gray sm-text-large">
                                                        <a href="#" class="plus-btn text-black"><i class="fas fa-plus bg-transparent"></i></a>
                                                        <input type="text" name="name" value="1" class="border-left-light-gray border-right-light-gray">
                                                        <a href="#" class="minus-btn text-black"><i class="fas fa-minus bg-transparent"></i></a>
                                                    </span>
                                                </span>
                                            <!-- product quantity end -->
                                            <!-- product action start -->
                                            <div class="action d-block">
                                                <a href="javaScript:void(0)" class="btn btn-small">Buy now</a>
                                                <a href="cart-page.html" class="btn btn-small">Add to cart</a>
                                                <a href="wishlist.html" class="btn btn-small">Add to wishlist</a>
                                            </div>
                                            <!-- product action end -->
                                            <!-- product share start -->
                                            <div class="share d-block">
                                                <label class="no-margin-bottom">Share with</label>
                                                <div class="share-icon d-block">
                                                    <a href="https://www.facebook.com/" target="_blank" class="btn face-book" data-toggle="tooltip" title="facebook"><i class="ti-facebook"></i>Share</a>
                                                    <a href="https://twitter.com/" target="_blank" class="btn twitter" data-toggle="tooltip" title="twitter"><i class="ti-twitter-alt"></i>Tweet</a>
                                                    <a href="https://in.pinterest.com/" target="_blank" class="btn pinterest" data-toggle="tooltip" title="pinterest"><i class="ti-pinterest"></i>Pin it</a>
                                                    <a href="https://www.linkedin.com/" target="_blank" class="btn linkedin" data-toggle="tooltip" title="linkedin"><i class="ti-linkedin"></i>Share</a>
                                                </div>
                                            </div>
                                            <!-- product shares end -->
                                            <!-- product info start -->
                                            <div class="full-apge d-block">
                                                <a href="product-detail.html" class="btn">Read more<i class="fa fa-info"></i></a>
                                            </div>
                                            <!-- product info end -->
                                        </div>
                                    </div>
                                    <!-- product detail end -->
                                </div>
                            </div>
                            <!-- quick-view body end -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-small" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- quick-view content end-->
                    </div>
                </div>
                <!-- product quick-view end -->
                <!-- left side product start  -->
                <div class="col-xl-3 col-lg-3 col-md-12 col-12">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-6 col-6 margin-bottom-30px sm-margin-bottom-20px">
                            <!-- left side product 1 start -->
                            <div class="side-img productsideimg1">
                                <div class="over">
                                    <a href="category-footwear.html"><img class="img-fluid" src="image/libazz-fashion-productsideimg1.jpg" alt="productsideimg1"></a>
                                </div>
                                <h2 class="save10 text-center"><span class="img-description text-large md-text-large sm-text-large">Save<br>10%</span></h2>
                            </div>
                            <!-- left side product 1 end -->
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-6 col-6 md-margin-bottom-30px sm-margin-bottom-20px">
                            <!-- left side product 2 start -->
                            <div class="side-img productsideimg2">
                                <div class="over">
                                    <a href="category-bag-glasses.html"><img class="img-fluid" src="image/libazz-fashion-productsideimg2.jpg" alt="productsideimg2"></a>
                                </div>
                                <h2 class="save10 text-center"><span class="img-description text-large md-text-large sm-text-large">Save<br>10%</span></h2>
                            </div>
                            <!-- left side product 2 end -->
                        </div>
                    </div>
                </div>
                <!-- left side product end  -->
                <!-- right side tab product start -->
                <div class="col-xl-9 col-lg-9 col-md-12 col-12">
                    <div class="tab-content">
                        <!-- tab product start -->
                        <div class="tab-pane active" id="man">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-6 sm-margin-bottom-20px">
                                    <!-- product start -->
                                    <div class="column">
                                        <div class="product-img">
                                            <!-- product image start -->
                                            <figure class="margin-bottom-10px">
                                                <a href="product-detail-sticky.html" class="image">
                                                    <!-- product first image start -->
                                                    <img class="pic-1 img-fluid" src="image/libazz-fashion-productimg1.jpg" alt="productimg1">
                                                    <!-- product first image end -->
                                                    <!-- product second image start -->
                                                    <img class="pic-2 img-fluid" src="image/libazz-fashion-productimg1-2.jpg" alt="productimg1-2">
                                                    <!-- product second image end -->
                                                </a>
                                                <!-- product label start -->
                                                <span class="product-new-label">New</span>
                                                <span class="product-sale-label">Sale</span>
                                                <!-- product label end -->
                                            </figure>
                                            <!-- product image end -->
                                            <!-- product button start -->
                                            <div class="btn-info-icon-2">
                                                <a href="javaScript:void(0)" class="btn btn-icon" data-toggle="modal" data-target="#myModal"><i class="ti-eye"></i></a>
                                                <a href="wishlist.html" class="btn btn-icon"><i class="ti-heart"></i></a>
                                                <a href="cart-page.html" class="btn btn-icon"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                            <!-- product button end -->
                                            <!-- product rating start -->
                                            <div class="rating d-block">
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating-gray font-weight-600"></i>
                                            </div>
                                            <!-- product rating end -->
                                            <!-- product name-price start -->
                                            <div class="product-text d-block">
                                                <a href="product-detail-sticky.html" class="d-block text-black font-weight-600 sm-text-extra-large">Silk Cotton Shirt</a>
                                                <p class="no-margin-bottom sm-text-large">$29.00</p>
                                            </div>
                                            <!-- product name-price end -->
                                        </div>
                                    </div>
                                    <!-- product end -->
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-6 sm-margin-bottom-20px">
                                    <!-- product start -->
                                    <div class="column">
                                        <div class="product-img">
                                            <!-- product image start -->
                                            <figure class="margin-bottom-10px">
                                                <a href="product-detail-sticky.html" class="image">
                                                    <!-- product first image start -->
                                                    <img class="pic-1 img-fluid" src="image/libazz-fashion-productimg2.jpg" alt="productimg2">
                                                    <!-- product first image end -->
                                                    <!-- product second image start -->
                                                    <img class="pic-2 img-fluid" src="image/libazz-fashion-productimg2-2.jpg" alt="productimg2-2">
                                                    <!-- product second image end -->
                                                </a>
                                                <!-- product label start -->
                                                <span class="product-offer-label">-25%</span>
                                                <!-- product label end -->
                                            </figure>
                                            <!-- product image end -->
                                            <!-- product button start -->
                                            <div class="btn-info-icon-2">
                                                <a href="javaScript:void(0)" class="btn btn-icon" data-toggle="modal" data-target="#myModal"><i class="ti-eye"></i></a>
                                                <a href="wishlist.html" class="btn btn-icon"><i class="ti-heart"></i></a>
                                                <a href="cart-page.html" class="btn btn-icon"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                            <!-- product button end -->
                                            <!-- product rating start -->
                                            <div class="rating d-block">
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating-gray font-weight-600"></i>
                                            </div>
                                            <!-- product rating end -->
                                            <!-- product name-price start -->
                                            <div class="product-text d-block">
                                                <a href="product-detail-sticky.html" class="d-block text-black font-weight-600 sm-text-extra-large">Silk Cotton Shirt</a>
                                                <p class="no-margin-bottom sm-text-large">$22.00<span class="text-gray text-small margin-left-5px text-decoration-line-through">$29.00</span></p>
                                            </div>
                                            <!-- product name-price end -->
                                        </div>
                                    </div>
                                    <!-- product end -->
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                                    <!-- product start -->
                                    <div class="column">
                                        <div class="product-img">
                                            <!-- product image start -->
                                            <figure class="margin-bottom-10px">
                                                <a href="product-detail-sticky.html" class="image">
                                                    <!-- product first image start -->
                                                    <img class="pic-1 img-fluid" src="image/libazz-fashion-productimg3.jpg" alt="productimg3">
                                                    <!-- product first image end -->
                                                    <!-- product second image start -->
                                                    <img class="pic-2 img-fluid" src="image/libazz-fashion-productimg3-3.jpg" alt="productimg3-3">
                                                    <!-- product second image end -->
                                                </a>
                                            </figure>
                                            <!-- product image end -->
                                            <!-- product button start -->
                                            <div class="btn-info-icon-2">
                                                <a href="javaScript:void(0)" class="btn btn-icon" data-toggle="modal" data-target="#myModal"><i class="ti-eye"></i></a>
                                                <a href="wishlist.html" class="btn btn-icon"><i class="ti-heart"></i></a>
                                                <a href="cart-page.html" class="btn btn-icon"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                            <!-- product button end -->
                                            <!-- product rating start -->
                                            <div class="rating d-block">
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating-gray font-weight-600"></i>
                                            </div>
                                            <!-- product rating end -->
                                            <!-- product name-price start -->
                                            <div class="product-text d-block">
                                                <a href="product-detail-sticky.html" class="d-block text-black font-weight-600 sm-text-extra-large">Silk Cotton Shirt</a>
                                                <p class="no-margin-bottom sm-text-large">$29.00</p>
                                            </div>
                                            <!-- product name-price end -->
                                        </div>
                                    </div>
                                    <!-- product end -->
                                </div>
                            </div>
                        </div>
                        <!-- tab product end -->
                        <!-- tab product start -->
                        <div class="tab-pane fade" id="woman">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-6 sm-margin-bottom-20px">
                                    <!-- product start -->
                                    <div class="column">
                                        <div class="product-img">
                                            <!-- product image start -->
                                            <figure class="margin-bottom-10px">
                                                <a href="product-detail-sticky.html" class="image">
                                                    <!-- product first image start -->
                                                    <img class="pic-1 img-fluid" src="image/libazz-fashion-productimg4.jpg" alt="productimg4">
                                                    <!-- product first image end -->
                                                    <!-- product second image start -->
                                                    <img class="pic-2 img-fluid" src="image/libazz-fashion-productimg4-4.jpg" alt="productimg4-4">
                                                    <!-- product second image end -->
                                                </a>
                                                <!-- product label start -->
                                                <span class="product-sale-label">Sale</span>
                                                <!-- product label end -->
                                            </figure>
                                            <!-- product image end -->
                                            <!-- product button start -->
                                            <div class="btn-info-icon-2">
                                                <a href="javaScript:void(0)" class="btn btn-icon" data-toggle="modal" data-target="#myModal"><i class="ti-eye"></i></a>
                                                <a href="wishlist.html" class="btn btn-icon"><i class="ti-heart"></i></a>
                                                <a href="cart-page.html" class="btn btn-icon"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                            <!-- product button end -->
                                            <!-- product rating start -->
                                            <div class="rating d-block">
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating-gray font-weight-600"></i>
                                            </div>
                                            <!-- product rating end -->
                                            <!-- product name-price start -->
                                            <div class="product-text d-block">
                                                <a href="product-detail-sticky.html" class="d-block text-black font-weight-600 sm-text-extra-large">Silk Cotton Shirt</a>
                                                <p class="no-margin-bottom sm-text-large">$29.00</p>
                                            </div>
                                            <!-- product name-price end -->
                                        </div>
                                    </div>
                                    <!-- product end -->
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-6 sm-margin-bottom-20px">
                                    <!-- product start -->
                                    <div class="column">
                                        <div class="product-img">
                                            <!-- product image start -->
                                            <figure class="margin-bottom-10px">
                                                <a href="product-detail-sticky.html" class="image">
                                                    <!-- product first image start -->
                                                    <img class="pic-1 img-fluid" src="image/libazz-fashion-productimg5.jpg" alt="productimg5">
                                                    <!-- product first image end -->
                                                    <!-- product second image start -->
                                                    <img class="pic-2 img-fluid" src="image/libazz-fashion-productimg5-5.jpg" alt="productimg5-5">
                                                    <!-- product second image end -->
                                                </a>
                                                <!-- product label start -->
                                                <span class="product-new-label">New</span>
                                                <!-- product label end -->
                                            </figure>
                                            <!-- product image end -->
                                            <!-- product button start -->
                                            <div class="btn-info-icon-2">
                                                <a href="javaScript:void(0)" class="btn btn-icon" data-toggle="modal" data-target="#myModal"><i class="ti-eye"></i></a>
                                                <a href="wishlist.html" class="btn btn-icon"><i class="ti-heart"></i></a>
                                                <a href="cart-page.html" class="btn btn-icon"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                            <!-- product button end -->
                                            <!-- product rating start -->
                                            <div class="rating d-block">
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating-gray font-weight-600"></i>
                                            </div>
                                            <!-- product rating end -->
                                            <!-- product name-price start -->
                                            <div class="product-text d-block">
                                                <a href="product-detail-sticky.html" class="d-block text-black font-weight-600 sm-text-extra-large">Silk Cotton Shirt</a>
                                                <p class="no-margin-bottom sm-text-large">$29.00</p>
                                            </div>
                                            <!-- product name-price end -->
                                        </div>
                                    </div>
                                    <!-- product end -->
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                                    <!-- product start -->
                                    <div class="column">
                                        <div class="product-img">
                                            <!-- product image start -->
                                            <figure class="margin-bottom-10px">
                                                <a href="product-detail-sticky.html" class="image">
                                                    <!-- product first image start -->
                                                    <img class="pic-1 img-fluid" src="image/libazz-fashion-productimg6.jpg" alt="productimg6">
                                                    <!-- product first image end -->
                                                    <!-- product second image start -->
                                                    <img class="pic-2 img-fluid" src="image/libazz-fashion-productimg6-6.jpg" alt="productimg6-6">
                                                    <!-- product second image end -->
                                                </a>
                                                <!-- product label start -->
                                                <span class="product-offer-label">-10%</span>
                                                <!-- product label end -->
                                            </figure>
                                            <!-- product image end -->
                                            <!-- product button start -->
                                            <div class="btn-info-icon-2">
                                                <a href="javaScript:void(0)" class="btn btn-icon" data-toggle="modal" data-target="#myModal"><i class="ti-eye"></i></a>
                                                <a href="wishlist.html" class="btn btn-icon"><i class="ti-heart"></i></a>
                                                <a href="cart-page.html" class="btn btn-icon"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                            <!-- product button end -->
                                            <!-- product rating start -->
                                            <div class="rating d-block">
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating-gray font-weight-600"></i>
                                            </div>
                                            <!-- product rating end -->
                                            <!-- product name-price start -->
                                            <div class="product-text d-block">
                                                <a href="product-detail-sticky.html" class="d-block text-black font-weight-600 sm-text-extra-large">Silk Cotton Shirt</a>
                                                <p class="no-margin-bottom sm-text-large">$26.00<span class="text-gray text-small margin-left-5px text-decoration-line-through">$29.00</span></p>
                                            </div>
                                            <!-- product name-price end -->
                                        </div>
                                    </div>
                                    <!-- product end -->
                                </div>
                            </div>
                        </div>
                        <!-- tab product end -->
                        <!-- tab product start -->
                        <div class="tab-pane" id="handbag">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-6 sm-margin-bottom-20px">
                                    <!-- product start -->
                                    <div class="column">
                                        <div class="product-img">
                                            <!-- product image start -->
                                            <figure class="margin-bottom-10px">
                                                <a href="product-detail-sticky.html" class="image">
                                                    <!-- product first image start -->
                                                    <img class="pic-1 img-fluid" src="image/libazz-fashion-productimg7.jpg" alt="productimg7">
                                                    <!-- product first image end -->
                                                    <!-- product second image start -->
                                                    <img class="pic-2 img-fluid" src="image/libazz-fashion-purse3.jpg" alt="purse3">
                                                    <!-- product second image end -->
                                                </a>
                                                <!-- product label start -->
                                                <span class="product-new-label">New</span>
                                                <!-- product label end -->
                                            </figure>
                                            <!-- product image end -->
                                            <!-- product button start -->
                                            <div class="btn-info-icon-2">
                                                <a href="javaScript:void(0)" class="btn btn-icon" data-toggle="modal" data-target="#myModal"><i class="ti-eye"></i></a>
                                                <a href="wishlist.html" class="btn btn-icon"><i class="ti-heart"></i></a>
                                                <a href="cart-page.html" class="btn btn-icon"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                            <!-- product button end -->
                                            <!-- product rating start -->
                                            <div class="rating d-block">
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating-gray font-weight-600"></i>
                                            </div>
                                            <!-- product rating end -->
                                            <!-- product name-price start -->
                                            <div class="product-text d-block">
                                                <a href="product-detail-sticky.html" class="d-block text-black font-weight-600 sm-text-extra-large">Silk Cotton Shirt</a>
                                                <p class="no-margin-bottom sm-text-large">$29.00</p>
                                            </div>
                                            <!-- product name-price end -->
                                        </div>
                                    </div>
                                    <!-- product end -->
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-6 sm-margin-bottom-20px">
                                    <!-- product start -->
                                    <div class="column">
                                        <div class="product-img">
                                            <!-- product image start -->
                                            <figure class="margin-bottom-10px">
                                                <a href="product-detail-sticky.html" class="image">
                                                    <!-- product first image start -->
                                                    <img class="pic-1 img-fluid" src="image/libazz-fashion-productimg8.jpg" alt="productimg8">
                                                    <!-- product first image end -->
                                                    <!-- product second image start -->
                                                    <img class="pic-2 img-fluid" src="image/libazz-fashion-purse2.jpg" alt="purse2">
                                                    <!-- product second image end -->
                                                </a>
                                                <!-- product label start -->
                                                <span class="product-new-label">New</span>
                                                <!-- product label end -->
                                            </figure>
                                            <!-- product image end -->
                                            <!-- product button start -->
                                            <div class="btn-info-icon-2">
                                                <a href="javaScript:void(0)" class="btn btn-icon" data-toggle="modal" data-target="#myModal"><i class="ti-eye"></i></a>
                                                <a href="wishlist.html" class="btn btn-icon"><i class="ti-heart"></i></a>
                                                <a href="cart-page.html" class="btn btn-icon"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                            <!-- product button end -->
                                            <!-- product rating start -->
                                            <div class="rating d-block">
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating-gray font-weight-600"></i>
                                            </div>
                                            <!-- product rating end -->
                                            <!-- product name-price start -->
                                            <div class="product-text d-block">
                                                <a href="product-detail-sticky.html" class="d-block text-black font-weight-600 sm-text-extra-large">Silk Cotton Shirt</a>
                                                <p class="no-margin-bottom sm-text-large">$29.00</p>
                                            </div>
                                            <!-- product name-price end -->
                                        </div>
                                    </div>
                                    <!-- product end -->
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                                    <!-- product start -->
                                    <div class="column">
                                        <div class="product-img">
                                            <!-- product image start -->
                                            <figure class="margin-bottom-10px">
                                                <a href="product-detail-sticky.html" class="image">
                                                    <!-- product first image start -->
                                                    <img class="pic-1 img-fluid" src="image/libazz-fashion-productimg9.jpg" alt="productimg9">
                                                    <!-- product first image end -->
                                                    <!-- product second image start -->
                                                    <img class="pic-2 img-fluid" src="image/libazz-fashion-purse3.jpg" alt="purse3">
                                                    <!-- product second image end -->
                                                </a>
                                                <!-- product label start -->
                                                <span class="product-sale-label">Sale</span>
                                                <!-- product label end -->
                                            </figure>
                                            <!-- product image end -->
                                            <!-- product button start -->
                                            <div class="btn-info-icon-2">
                                                <a href="javaScript:void(0)" class="btn btn-icon" data-toggle="modal" data-target="#myModal"><i class="ti-eye"></i></a>
                                                <a href="wishlist.html" class="btn btn-icon"><i class="ti-heart"></i></a>
                                                <a href="cart-page.html" class="btn btn-icon"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                            <!-- product button end -->
                                            <!-- product rating start -->
                                            <div class="rating d-block">
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating-gray font-weight-600"></i>
                                            </div>
                                            <!-- product rating end -->
                                            <!-- product name-price start -->
                                            <div class="product-text d-block">
                                                <a href="product-detail-sticky.html" class="d-block text-black font-weight-600 sm-text-extra-large">Silk Cotton Shirt</a>
                                                <p class="no-margin-bottom sm-text-large">$29.00</p>
                                            </div>
                                            <!-- product name-price end -->
                                        </div>
                                    </div>
                                    <!-- product end -->
                                </div>
                            </div>
                        </div>
                        <!-- tab product end -->
                        <!-- tab product start -->
                        <div class="tab-pane fade" id="trendy">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-6 sm-margin-bottom-20px">
                                    <!-- product start -->
                                    <div class="column">
                                        <div class="product-img">
                                            <!-- product image start -->
                                            <figure class="margin-bottom-10px">
                                                <a href="product-detail-sticky.html" class="image">
                                                    <!-- product first image start -->
                                                    <img class="pic-1 img-fluid" src="image/libazz-fashion-productimg10.jpg" alt="productimg10">
                                                    <!-- product first image end -->
                                                    <!-- product second image start -->
                                                    <img class="pic-2 img-fluid" src="image/libazz-fashion-shoes1.jpg" alt="shoes1">
                                                    <!-- product second image end -->
                                                </a>
                                                <!-- product label start -->
                                                <span class="product-sale-label">Sale</span>
                                                <!-- product label end -->
                                            </figure>
                                            <!-- product image end -->
                                            <!-- product button start -->
                                            <div class="btn-info-icon-2">
                                                <a href="javaScript:void(0)" class="btn btn-icon" data-toggle="modal" data-target="#myModal"><i class="ti-eye"></i></a>
                                                <a href="wishlist.html" class="btn btn-icon"><i class="ti-heart"></i></a>
                                                <a href="cart-page.html" class="btn btn-icon"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                            <!-- product button end -->
                                            <!-- product rating start -->
                                            <div class="rating d-block">
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating-gray font-weight-600"></i>
                                            </div>
                                            <!-- product rating end -->
                                            <!-- product name-price start -->
                                            <div class="product-text d-block">
                                                <a href="product-detail-sticky.html" class="d-block text-black font-weight-600 sm-text-extra-large">Silk Cotton Shirt</a>
                                                <p class="no-margin-bottom sm-text-large">$29.00</p>
                                            </div>
                                            <!-- product name-price end -->
                                        </div>
                                    </div>
                                    <!-- product end -->
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-6 sm-margin-bottom-20px">
                                    <!-- product start -->
                                    <div class="column">
                                        <div class="product-img">
                                            <!-- product image start -->
                                            <figure class="margin-bottom-10px">
                                                <a href="product-detail-sticky.html" class="image">
                                                    <!-- product first image start -->
                                                    <img class="pic-1 img-fluid" src="image/libazz-fashion-productimg11.jpg" alt="productimg11">
                                                    <!-- product first image end -->
                                                    <!-- product second image start -->
                                                    <img class="pic-2 img-fluid" src="image/libazz-fashion-shoes2.jpg" alt="shoes2">
                                                    <!-- product second image end -->
                                                </a>
                                                <!-- product label start -->
                                                <span class="product-sale-label">Sale</span>
                                                <!-- product label end -->
                                            </figure>
                                            <!-- product image end -->
                                            <!-- product button start -->
                                            <div class="btn-info-icon-2">
                                                <a href="javaScript:void(0)" class="btn btn-icon" data-toggle="modal" data-target="#myModal"><i class="ti-eye"></i></a>
                                                <a href="wishlist.html" class="btn btn-icon"><i class="ti-heart"></i></a>
                                                <a href="cart-page.html" class="btn btn-icon"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                            <!-- product button end -->
                                            <!-- product rating start -->
                                            <div class="rating d-block">
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating-gray font-weight-600"></i>
                                            </div>
                                            <!-- product rating end -->
                                            <!-- product name-price start -->
                                            <div class="product-text d-block">
                                                <a href="product-detail-sticky.html" class="d-block text-black font-weight-600 sm-text-extra-large">Silk Cotton Shirt</a>
                                                <p class="no-margin-bottom sm-text-large">$29.00</p>
                                            </div>
                                            <!-- product name-price end -->
                                        </div>
                                    </div>
                                    <!-- product end -->
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                                    <!-- product start -->
                                    <div class="column">
                                        <div class="product-img">
                                            <!-- product image start -->
                                            <figure class="margin-bottom-10px">
                                                <a href="product-detail-sticky.html" class="image">
                                                    <!-- product first image start -->
                                                    <img class="pic-1 img-fluid" src="image/libazz-fashion-productimg12.jpg" alt="productimg12">
                                                    <!-- product first image end -->
                                                    <!-- product second image start -->
                                                    <img class="pic-2 img-fluid" src="image/libazz-fashion-shoes3.jpg" alt="shoes3">
                                                    <!-- product second image end -->
                                                </a>
                                                <!-- product label start -->
                                                <span class="product-new-label">New</span>
                                                <!-- product label end -->
                                            </figure>
                                            <!-- product image end -->
                                            <!-- product button start -->
                                            <div class="btn-info-icon-2">
                                                <a href="javaScript:void(0)" class="btn btn-icon" data-toggle="modal" data-target="#myModal"><i class="ti-eye"></i></a>
                                                <a href="wishlist.html" class="btn btn-icon"><i class="ti-heart"></i></a>
                                                <a href="cart-page.html" class="btn btn-icon"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                            <!-- product button end -->
                                            <!-- product rating start -->
                                            <div class="rating d-block">
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating-gray font-weight-600"></i>
                                            </div>
                                            <!-- product rating end -->
                                            <!-- product name-price start -->
                                            <div class="product-text d-block">
                                                <a href="product-detail-sticky.html" class="d-block text-black font-weight-600 sm-text-extra-large">Silk Cotton Shirt</a>
                                                <p class="no-margin-bottom sm-text-large">$29.00</p>
                                            </div>
                                            <!-- product name-price end -->
                                        </div>
                                    </div>
                                    <!-- product end -->
                                </div>
                            </div>
                        </div>
                        <!-- tab product end -->
                        <!-- tab product start -->
                        <div class="tab-pane" id="handmade">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-6 sm-margin-bottom-20px">
                                    <!-- product start -->
                                    <div class="column">
                                        <div class="product-img">
                                            <!-- product image start -->
                                            <figure class="margin-bottom-10px">
                                                <a href="product-detail-sticky.html" class="image">
                                                    <!-- product first image start -->
                                                    <img class="pic-1 img-fluid" src="image/libazz-fashion-productimg13.jpg" alt="productimg13">
                                                    <!-- product first image end -->
                                                    <!-- product second image start -->
                                                    <img class="pic-2 img-fluid" src="image/libazz-fashion-productimg14.jpg" alt="productimg14">
                                                    <!-- product second image end -->
                                                </a>
                                                <!-- product label start -->
                                                <span class="product-offer-label">-5%</span>
                                                <!-- product label end -->
                                            </figure>
                                            <!-- product image end -->
                                            <!-- product button start -->
                                            <div class="btn-info-icon-2">
                                                <a href="javaScript:void(0)" class="btn btn-icon" data-toggle="modal" data-target="#myModal"><i class="ti-eye"></i></a>
                                                <a href="wishlist.html" class="btn btn-icon"><i class="ti-heart"></i></a>
                                                <a href="cart-page.html" class="btn btn-icon"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                            <!-- product button end -->
                                            <!-- product rating start -->
                                            <div class="rating d-block">
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating-gray font-weight-600"></i>
                                            </div>
                                            <!-- product rating end -->
                                            <!-- product name-price start -->
                                            <div class="product-text d-block">
                                                <a href="product-detail-sticky.html" class="d-block text-black font-weight-600 sm-text-extra-large">Silk Cotton Shirt</a>
                                                <p class="no-margin-bottom sm-text-large">$27.50<span class="text-gray text-small margin-left-5px text-decoration-line-through">$29.00</span></p>
                                            </div>
                                            <!-- product name-price end -->
                                        </div>
                                    </div>
                                    <!-- product end -->
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-6 sm-margin-bottom-20px">
                                    <!-- product start -->
                                    <div class="column">
                                        <div class="product-img">
                                            <!-- product image start -->
                                            <figure class="margin-bottom-10px">
                                                <a href="product-detail-sticky.html" class="image">
                                                    <!-- product first image start -->
                                                    <img class="pic-1 img-fluid" src="image/libazz-fashion-productimg14.jpg" alt="productimg14">
                                                    <!-- product first image end -->
                                                    <!-- product second image start -->
                                                    <img class="pic-2 img-fluid" src="image/libazz-fashion-productimg15.jpg" alt="productimg15">
                                                    <!-- product second image end -->
                                                </a>
                                                <!-- product label start -->
                                                <span class="product-offer-label">-15%</span>
                                                <!-- product label end -->
                                            </figure>
                                            <!-- product image end -->
                                            <!-- product button start -->
                                            <div class="btn-info-icon-2">
                                                <a href="javaScript:void(0)" class="btn btn-icon" data-toggle="modal" data-target="#myModal"><i class="ti-eye"></i></a>
                                                <a href="wishlist.html" class="btn btn-icon"><i class="ti-heart"></i></a>
                                                <a href="cart-page.html" class="btn btn-icon"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                            <!-- product button end -->
                                            <!-- product rating start -->
                                            <div class="rating d-block">
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating-gray font-weight-600"></i>
                                            </div>
                                            <!-- product rating end -->
                                            <!-- product name-price start -->
                                            <div class="product-text d-block">
                                                <a href="product-detail-sticky.html" class="d-block text-black font-weight-600 sm-text-extra-large">Silk Cotton Shirt</a>
                                                <p class="no-margin-bottom sm-text-large">$25.00<span class="text-gray text-small margin-left-5px text-decoration-line-through">$29.00</span></p>
                                            </div>
                                            <!-- product name-price end -->
                                        </div>
                                    </div>
                                    <!-- product end -->
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                                    <!-- product start -->
                                    <div class="column">
                                        <div class="product-img">
                                            <!-- product image start -->
                                            <figure class="margin-bottom-10px">
                                                <a href="product-detail-sticky.html" class="image">
                                                    <!-- product first image start -->
                                                    <img class="pic-1 img-fluid" src="image/libazz-fashion-productimg15.jpg" alt="productimg15">
                                                    <!-- product first image end -->
                                                    <!-- product second image start -->
                                                    <img class="pic-2 img-fluid" src="image/libazz-fashion-productimg13.jpg" alt="productimg13">
                                                    <!-- product second image end -->
                                                </a>
                                                <!-- product label start -->
                                                <span class="product-offer-label">-10%</span>
                                                <!-- product label end -->
                                            </figure>
                                            <!-- product image end -->
                                            <!-- product button start -->
                                            <div class="btn-info-icon-2">
                                                <a href="javaScript:void(0)" class="btn btn-icon" data-toggle="modal" data-target="#myModal"><i class="ti-eye"></i></a>
                                                <a href="wishlist.html" class="btn btn-icon"><i class="ti-heart"></i></a>
                                                <a href="cart-page.html" class="btn btn-icon"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                            <!-- product button end -->
                                            <!-- product rating start -->
                                            <div class="rating d-block">
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating font-weight-600"></i>
                                                <i class="fa fa-star text-rating-gray font-weight-600"></i>
                                            </div>
                                            <!-- product rating end -->
                                            <!-- product name-price start -->
                                            <div class="product-text d-block">
                                                <a href="product-detail-sticky.html" class="d-block text-black font-weight-600 sm-text-extra-large">Silk Cotton Shirt</a>
                                                <p class="no-margin-bottom sm-text-large">$26.00<span class="text-gray text-small margin-left-5px text-decoration-line-through">$29.00</span></p>
                                            </div>
                                            <!-- product name-price end -->
                                        </div>
                                    </div>
                                    <!-- product end -->
                                </div>
                            </div>
                        </div>
                        <!-- tab product end -->
                    </div>
                </div>
                <!-- right side tab product end -->
            </div>
        </div>
    </section>
    <!-- product section end -->
</template>

<script>
export default {
  name: "OurProducts"
};
</script>

<style scoped></style>
