<template>
  <!-- service section start -->
  <section class="padding-80px-tb border-top-light-gray">
    <div class="container">
      <div class="row">
        <div
          class="col-xl-4 col-lg-4 col-md-4 service-index sm-margin-bottom-15px"
        >
          <!-- online service start -->
          <div class="service">
            <!-- headphone icon start -->
            <div class="img d-inline-block margin-right-15px">
              <i class="ti-headphone-alt"></i>
            </div>
            <!-- headphone icon end -->
            <div class="service-text display-inline-block">
              <span class="font-weight-600 sm-text-extra-large"
                >Online Support</span
              >
              <p class="no-margin-bottom sm-text-large">service any time</p>
            </div>
          </div>
          <!-- online support end -->
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-4 service-index sm-margin-bottom-15px"
        >
          <!-- moneyback service start -->
          <div class="service">
            <!-- shield trust icon start -->
            <div class="img d-inline-block margin-right-15px">
              <i class="ti-shield"></i>
            </div>
            <!-- shield trust icon end -->
            <div class="service-text display-inline-block">
              <span class="font-weight-600 sm-text-extra-large">Moneyback</span>
              <p class="no-margin-bottom sm-text-large">100% safe payment</p>
            </div>
          </div>
          <!-- moneyback service end -->
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 service-index">
          <!-- ship service start -->
          <div class="service">
            <!-- ship-truck icon start -->
            <div class="img d-inline-block margin-right-15px">
              <i class="ti-truck"></i>
            </div>
            <!-- ship-truck icon end -->
            <div class="service-text display-inline-block">
              <span class="font-weight-600 sm-text-extra-large"
                >Ship worldwide</span
              >
              <p class="no-margin-bottom sm-text-large">Within 5 to 7 days</p>
            </div>
          </div>
          <!-- ship service end -->
        </div>
      </div>
    </div>
  </section>
  <!-- service section end -->
</template>

<script>
export default {
  name: "Service"
};
</script>

<style scoped></style>
