<template>
  <!-- slider section start -->
  <section class="home-slider">
    <div class="swiper-container" id="home-slider">
      <div class="swiper-wrapper">
        <!-- slider 1 start -->
        <div
          class="swiper-slide sliderimg slider-position cover-background"
          v-bind:style="{ 'background-image': `url(${sliderImage1})` }"
        >
          <div class="slidertext slider-img-2">
            <div
              class="slider-first-heading animated slideInUp text-black title-greatersmall font-weight-600 lg-title-min-medium md-title-med-more2 sm-title-mdmore"
            >
              20% Off New Trade
            </div>
            <h1
              class="animated slideInLeft text-tometo font-weight-600 title-extra-large-3 lg-title-extra-large-2 md-title-extra-large-1 sm-title-extra-large"
            >
              WOMEN FASHION
            </h1>
            <p class="sm-text-large">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s
            </p>
            <div class="animated slideInDown">
              <a href="category-mix.html" class="btn btn-style">Buy Now</a>
            </div>
          </div>
        </div>
        <!-- slider 1 end -->
        <!-- slider 2 start -->
        <div
          class="swiper-slide sliderimg slider-position cover-background"
          v-bind:style="{ 'background-image': `url(${sliderImage2})` }"
        >
          <div class="slidertext slider-img-2">
            <div
              class="slider-first-heading animated slideInUp text-black title-greatersmall font-weight-600 lg-title-min-medium md-title-med-more2 sm-title-mdmore"
            >
              20% Off New Trade
            </div>
            <h1
              class="animated slideInLeft text-tometo font-weight-600 title-extra-large-3 lg-title-extra-large-2 md-title-extra-large-1 sm-title-extra-large"
            >
              WOMEN FASHION
            </h1>
            <p class="sm-text-large">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s
            </p>
            <div class="animated slideInDown">
              <a href="category-mix.html" class="btn btn-style">Buy Now</a>
            </div>
          </div>
        </div>
        <!-- slider 2 end -->
        <!-- slider 3 start -->
        <div
          class="swiper-slide sliderimg slider-position cover-background"
          v-bind:style="{ 'background-image': `url(${sliderImage3})` }"
        >
          <div class="slidertext slider-img-2">
            <div
              class="slider-first-heading animated slideInUp text-black title-greatersmall font-weight-600 lg-title-min-medium md-title-med-more2 sm-title-mdmore"
            >
              20% Off New Trade
            </div>
            <h1
              class="animated slideInLeft text-tometo font-weight-600 title-extra-large-3 lg-title-extra-large-2 md-title-extra-large-1 sm-title-extra-large"
            >
              WOMEN FASHION
            </h1>
            <p class="sm-text-large">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s
            </p>
            <div class="animated slideInDown">
              <a href="category-mix.html" class="btn btn-style">Buy Now</a>
            </div>
          </div>
        </div>
        <!-- slider 3 end -->
      </div>
      <!-- slider arrow start -->
      <div class="swiper-nav d-flex justify-content-end">
        <a href="#" class="slider-prev" id="slider-prev"
          ><i class="far fa-arrow-alt-circle-left"></i
        ></a>
        <a href="#" class="slider-next" id="slider-next"
          ><i class="far fa-arrow-alt-circle-right"></i
        ></a>
      </div>
      <!-- slider arrow end -->
    </div>
  </section>
  <!-- slider section end -->
</template>

<script>
import { imageUtil } from "../../globalUtility/imageHelper";

export default {
  name: "Slider",
  data() {
    return {
      sliderImage1: imageUtil.images.FashionSliderImage1,
      sliderImage2: imageUtil.images.FashionSliderImage2,
      sliderImage3: imageUtil.images.FashionSliderImage3
    };
  }
};
</script>

<style scoped></style>
