<template>
  <!-- product slider section start -->
  <section class="padding-80px-tb border-top-light-gray">
    <div class="container">
      <div class="row">
        <!-- product slider heading start -->
        <div
          class="col-xl-12 text-center margin-bottom-40px lg-margin-bottom-30px md-margin-bottom-25px sm-margin-bottom-20px"
        >
          <h3
            class="title-heading text-black font-weight-600 lg-title-medium md-title-medium sm-title-mdmore"
          >
            Trending Products
          </h3>
          <div class="title-desc text-silver font-weight-500 sm-text-large">
            The products which you never see anywhere
          </div>
        </div>
        <!-- product slider heading end -->
      </div>
      <div class="swiper-container single-item-rtl" id="product-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <!-- product start -->
            <div class="column">
              <div class="product-img">
                <!-- product image start -->
                <figure class="margin-bottom-10px">
                  <a href="product-detail-sticky.html" class="image">
                    <!-- product first image start -->
                    <img
                      class="pic-1 img-fluid"
                      src="image/libazz-fashion-productimg16.jpg"
                      alt="productimg16"
                    />
                    <!-- product first image end -->
                    <!-- product second image start -->
                    <img
                      class="pic-2 img-fluid"
                      src="image/libazz-fashion-productimg16-16.jpg"
                      alt="productimg16-16"
                    />
                    <!-- product second image end -->
                  </a>
                  <!-- product label start -->
                  <span class="product-new-label">New</span>
                  <!-- product label end -->
                </figure>
                <!-- product image end -->
                <!-- product button start -->
                <div class="btn-info-icon-2">
                  <a
                    href="javaScript:void(0)"
                    class="btn btn-icon"
                    data-toggle="modal"
                    data-target="#myModal"
                    ><i class="ti-eye"></i
                  ></a>
                  <a href="wishlist.html" class="btn btn-icon"
                    ><i class="ti-heart"></i
                  ></a>
                  <a href="cart-page.html" class="btn btn-icon"
                    ><i class="ti-shopping-cart"></i
                  ></a>
                </div>
                <!-- product button end -->
                <!-- product rating start -->
                <div class="rating d-block text-left">
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating-gray font-weight-600"></i>
                </div>
                <!-- product rating end -->
                <!-- product name-price start -->
                <div class="product-text d-block text-left">
                  <a
                    href="product-detail-sticky.html"
                    class="text-black d-block font-weight-600 sm-text-extra-large"
                    >Silk Cotton Shirt</a
                  >
                  <p class="no-margin-bottom sm-text-large">$29.00</p>
                </div>
                <!-- product name-price end -->
              </div>
            </div>
            <!-- product end -->
          </div>
          <div class="swiper-slide">
            <!-- product start -->
            <div class="column">
              <div class="product-img">
                <!-- product image start -->
                <figure class="margin-bottom-10px">
                  <a href="product-detail-sticky.html" class="image">
                    <!-- product first image start -->
                    <img
                      class="pic-1 img-fluid"
                      src="image/libazz-fashion-productimg11.jpg"
                      alt="productimg11"
                    />
                    <!-- product first image end -->
                    <!-- product second image start -->
                    <img
                      class="pic-2 img-fluid"
                      src="image/libazz-fashion-productimg10.jpg"
                      alt="productimg10"
                    />
                    <!-- product second image end -->
                  </a>
                  <!-- product label start -->
                  <span class="product-sale-label">Sale</span>
                  <!-- product label end -->
                </figure>
                <!-- product image end -->
                <!-- product button start -->
                <div class="btn-info-icon-2">
                  <a
                    href="javaScript:void(0)"
                    class="btn btn-icon"
                    data-toggle="modal"
                    data-target="#myModal"
                    ><i class="ti-eye"></i
                  ></a>
                  <a href="wishlist.html" class="btn btn-icon"
                    ><i class="ti-heart"></i
                  ></a>
                  <a href="cart-page.html" class="btn btn-icon"
                    ><i class="ti-shopping-cart"></i
                  ></a>
                </div>
                <!-- product button end -->
                <!-- product rating start -->
                <div class="rating d-block text-left">
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating-gray font-weight-600"></i>
                </div>
                <!-- product rating end -->
                <!-- product name-price start -->
                <div class="product-text d-block text-left">
                  <a
                    href="product-detail-sticky.html"
                    class="text-black d-block font-weight-600 sm-text-extra-large"
                    >Silk Cotton Shirt</a
                  >
                  <p class="no-margin-bottom sm-text-large">$29.00</p>
                </div>
                <!-- product name-price end -->
              </div>
            </div>
            <!-- product end -->
          </div>
          <div class="swiper-slide">
            <!-- product start -->
            <div class="column">
              <div class="product-img">
                <!-- product image start -->
                <figure class="margin-bottom-10px">
                  <a href="product-detail-sticky.html" class="image">
                    <!-- product first image start -->
                    <img
                      class="pic-1 img-fluid"
                      src="image/libazz-fashion-productimg24.jpg"
                      alt="productimg24"
                    />
                    <!-- product first image end -->
                    <!-- product second image start -->
                    <img
                      class="pic-2 img-fluid"
                      src="image/libazz-fashion-productimg24-24.jpg"
                      alt="productimg24-24"
                    />
                    <!-- product second image end -->
                  </a>
                </figure>
                <!-- product image end -->
                <!-- product button start -->
                <div class="btn-info-icon-2">
                  <a
                    href="javaScript:void(0)"
                    class="btn btn-icon"
                    data-toggle="modal"
                    data-target="#myModal"
                    ><i class="ti-eye"></i
                  ></a>
                  <a href="wishlist.html" class="btn btn-icon"
                    ><i class="ti-heart"></i
                  ></a>
                  <a href="cart-page.html" class="btn btn-icon"
                    ><i class="ti-shopping-cart"></i
                  ></a>
                </div>
                <!-- product button end -->
                <!-- product rating start -->
                <div class="rating d-block text-left">
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating-gray font-weight-600"></i>
                </div>
                <!-- product rating end -->
                <!-- product name-price start -->
                <div class="product-text d-block text-left">
                  <a
                    href="product-detail-sticky.html"
                    class="text-black d-block font-weight-600 sm-text-extra-large"
                    >Silk Cotton Shirt</a
                  >
                  <p class="no-margin-bottom sm-text-large">$29.00</p>
                </div>
                <!-- product name-price end -->
              </div>
            </div>
            <!-- product end -->
          </div>
          <div class="swiper-slide">
            <!-- product start -->
            <div class="column">
              <div class="product-img">
                <!-- product image start -->
                <figure class="margin-bottom-10px">
                  <a href="product-detail-sticky.html" class="image">
                    <!-- product first image start -->
                    <img
                      class="pic-1 img-fluid"
                      src="image/libazz-fashion-productimg14.jpg"
                      alt="productimg14"
                    />
                    <!-- product first image end -->
                    <!-- product second image start -->
                    <img
                      class="pic-2 img-fluid"
                      src="image/libazz-fashion-productimg13.jpg"
                      alt="productimg13"
                    />
                    <!-- product second image end -->
                  </a>
                  <!-- product label start -->
                  <span class="product-offer-label">-20%</span>
                  <!-- product label end -->
                </figure>
                <!-- product image end -->
                <!-- product button start -->
                <div class="btn-info-icon-2">
                  <a
                    href="javaScript:void(0)"
                    class="btn btn-icon"
                    data-toggle="modal"
                    data-target="#myModal"
                    ><i class="ti-eye"></i
                  ></a>
                  <a href="wishlist.html" class="btn btn-icon"
                    ><i class="ti-heart"></i
                  ></a>
                  <a href="cart-page.html" class="btn btn-icon"
                    ><i class="ti-shopping-cart"></i
                  ></a>
                </div>
                <!-- product button end -->
                <!-- product rating start -->
                <div class="rating d-block text-left">
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating-gray font-weight-600"></i>
                </div>
                <!-- product rating end -->
                <!-- product name-price start -->
                <div class="product-text d-block text-left">
                  <a
                    href="product-detail-sticky.html"
                    class="text-black d-block font-weight-600 sm-text-extra-large"
                    >Silk Cotton Shirt</a
                  >
                  <p class="no-margin-bottom sm-text-large">
                    $23.00<span
                      class="text-gray text-small margin-left-5px text-decoration-line-through"
                      >$29.00</span
                    >
                  </p>
                </div>
                <!-- product name-price end -->
              </div>
            </div>
            <!-- product end -->
          </div>
          <div class="swiper-slide">
            <!-- product start -->
            <div class="column">
              <div class="product-img">
                <!-- product image start -->
                <figure class="margin-bottom-10px">
                  <a href="product-detail-sticky.html" class="image">
                    <!-- product first image start -->
                    <img
                      class="pic-1 img-fluid"
                      src="image/libazz-fashion-productimg17.jpg"
                      alt="productimg17"
                    />
                    <!-- product first image end -->
                    <!-- product second image start -->
                    <img
                      class="pic-2 img-fluid"
                      src="image/libazz-fashion-productimg17-17.jpg"
                      alt="productimg17-17"
                    />
                    <!-- product second image end -->
                  </a>
                </figure>
                <!-- product image end -->
                <!-- product button start -->
                <div class="btn-info-icon-2">
                  <a
                    href="javaScript:void(0)"
                    class="btn btn-icon"
                    data-toggle="modal"
                    data-target="#myModal"
                    ><i class="ti-eye"></i
                  ></a>
                  <a href="wishlist.html" class="btn btn-icon"
                    ><i class="ti-heart"></i
                  ></a>
                  <a href="cart-page.html" class="btn btn-icon"
                    ><i class="ti-shopping-cart"></i
                  ></a>
                </div>
                <!-- product button end -->
                <!-- product rating start -->
                <div class="rating d-block text-left">
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating-gray font-weight-600"></i>
                </div>
                <!-- product rating end -->
                <!-- product name-price start -->
                <div class="product-text d-block text-left">
                  <a
                    href="product-detail-sticky.html"
                    class="text-black d-block font-weight-600 sm-text-extra-large"
                    >Silk Cotton Shirt</a
                  >
                  <p class="no-margin-bottom sm-text-large">$29.00</p>
                </div>
                <!-- product name-price end -->
              </div>
            </div>
            <!-- product end -->
          </div>
          <div class="swiper-slide">
            <!-- product start -->
            <div class="column">
              <div class="product-img">
                <!-- product image start -->
                <figure class="margin-bottom-10px">
                  <a href="product-detail-sticky.html" class="image">
                    <!-- product first image start -->
                    <img
                      class="pic-1 img-fluid"
                      src="image/libazz-fashion-productimg7.jpg"
                      alt="productimg7"
                    />
                    <!-- product first image end -->
                    <!-- product second image start -->
                    <img
                      class="pic-2 img-fluid"
                      src="image/libazz-fashion-productimg9.jpg"
                      alt="productimg9"
                    />
                    <!-- product second image end -->
                  </a>
                  <!-- product label start -->
                  <span class="product-new-label">New</span>
                  <!-- product label end -->
                </figure>
                <!-- product image end -->
                <!-- product button start -->
                <div class="btn-info-icon-2">
                  <a
                    href="javaScript:void(0)"
                    class="btn btn-icon"
                    data-toggle="modal"
                    data-target="#myModal"
                    ><i class="ti-eye"></i
                  ></a>
                  <a href="wishlist.html" class="btn btn-icon"
                    ><i class="ti-heart"></i
                  ></a>
                  <a href="cart-page.html" class="btn btn-icon"
                    ><i class="ti-shopping-cart"></i
                  ></a>
                </div>
                <!-- product button end -->
                <!-- product rating start -->
                <div class="rating d-block text-left">
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating font-weight-600"></i>
                  <i class="fa fa-star text-rating-gray font-weight-600"></i>
                </div>
                <!-- product rating end -->
                <!-- product name-price start -->
                <div class="product-text d-block text-left">
                  <a
                    href="product-detail-sticky.html"
                    class="text-black d-block font-weight-600 sm-text-extra-large"
                    >Silk Cotton Shirt</a
                  >
                  <p class="no-margin-bottom sm-text-large">$29.00</p>
                </div>
                <!-- product name-price end -->
              </div>
            </div>
            <!-- product end -->
          </div>
        </div>
        <!-- product slider arrow start -->
        <div
          class="d-flex justify-content-center margin-top-40px lg-margin-top-30px md-margin-top-25px sm-margin-top-20px"
        >
          <a href="javaScript:void(0)" class="prev" id="prev"
            ><i class="far fa-arrow-alt-circle-left"></i
          ></a>
          <a href="javaScript:void(0)" class="next" id="next"
            ><i class="far fa-arrow-alt-circle-right"></i
          ></a>
        </div>
        <!-- product slider arrow end -->
      </div>
    </div>
  </section>
  <!-- product slider section end -->
</template>

<script>
export default {
  name: "TrendingProducts"
};
</script>

<style scoped></style>
