<template>
  <section id="blog">
    <div class="container">
      <div class="row">
        <!-- product title start -->
        <div
          class="col-xl-12 col-lg-12 col-md-12 col-12 text-center margin-bottom-40px lg-margin-bottom-30px md-margin-bottom-25px sm-margin-bottom-20px"
        >
          <h3
            class="text-black font-weight-700 lg-title-medium md-title-medium sm-title-mdmore"
          >
            Blog Update
          </h3>
          <p class="font-weight-500 sm-text-large no-margin-bottom">
            Recent post
          </p>
        </div>
        <!-- product title end -->
        <!-- blog start -->
        <div class="col-xl-4 col-lg-4 col-md-12 col-12 simple">
          <!-- blog images start -->
          <div class="blog-grid-img">
            <a href="blog.html"
              ><img
                src="../../../public/assets/images/libazz-fashion-blog-grid1.jpg"
                alt="blog-grid1"
                class="img-fluid"
            /></a>
            <!-- blog read more start -->
            <div class="blog-read">
              <a href="blog.html"><i class="ti-angle-double-up"></i></a>
            </div>
            <!-- blog read more end -->
          </div>
          <!-- blog images end -->
          <div class="blog-grid-info">
            <!-- title start -->
            <div class="blog-grid-heading margin-bottom-10px">
              <h2 class="font-weight-600 text-large sm-text-extra-large">
                <a href="blog.html" class="text-black">What is Lorem Ipsum</a>
              </h2>
            </div>
            <!-- title start -->
            <!-- blog description start -->
            <div class="blog-grid-desc margin-bottom-10px">
              <p class="no-margin-bottom sm-text-large">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s
              </p>
            </div>
            <!-- blog description end -->
            <!-- blog date-comment start -->
            <div class="blog-grid-meta">
              <a href="javascript:void(0)" class="text-black sm-text-large"
                ><i class="far fa-calendar-alt"></i
                ><span class="padding-left-5px">March 14, 2018</span></a
              >
              <a
                href="javascript:void(0)"
                class="text-black float-right sm-text-large"
                ><i class="far fa-comment-alt"></i
                ><span class="padding-left-5px">05</span></a
              >
            </div>
            <!-- blog date-comment end -->
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-12 simple">
          <!-- blog images start -->
          <div class="blog-grid-img">
            <a href="blog.html"
              ><img
                src="../../../public/assets/images/libazz-fashion-blog-grid2.jpg"
                alt="blog-grid2"
                class="img-fluid"
            /></a>
            <!-- blog read more start -->
            <div class="blog-read">
              <a href="blog.html"><i class="ti-angle-double-up"></i></a>
            </div>
            <!-- blog read more end -->
          </div>
          <!-- blog images end -->
          <div class="blog-grid-info">
            <!-- title start -->
            <div class="blog-grid-heading margin-bottom-10px">
              <h2 class="font-weight-600 text-large sm-text-extra-large">
                <a href="blog.html" class="text-black">What is Lorem Ipsum</a>
              </h2>
            </div>
            <!-- title start -->
            <!-- blog description start -->
            <div class="blog-grid-desc margin-bottom-10px">
              <p class="no-margin-bottom sm-text-large">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s
              </p>
            </div>
            <!-- blog description end -->
            <!-- blog date-comment start -->
            <div class="blog-grid-meta">
              <a href="javascript:void(0)" class="text-black sm-text-large"
                ><i class="far fa-calendar-alt"></i
                ><span class="padding-left-5px">March 14, 2018</span></a
              >
              <a
                href="javascript:void(0)"
                class="text-black float-right sm-text-large"
                ><i class="far fa-comment-alt"></i
                ><span class="padding-left-5px">05</span></a
              >
            </div>
            <!-- blog date-comment end -->
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-12 simple">
          <!-- blog images start -->
          <div class="blog-grid-img">
            <a href="blog.html"
              ><img
                src="../../../public/assets/images/libazz-fashion-blog-grid3.jpg"
                alt="blog-grid3"
                class="img-fluid"
            /></a>
            <!-- blog read more start -->
            <div class="blog-read">
              <a href="blog.html"><i class="ti-angle-double-up"></i></a>
            </div>
            <!-- blog read more end -->
          </div>
          <!-- blog images end -->
          <div class="blog-grid-info">
            <!-- title start -->
            <div class="blog-grid-heading margin-bottom-10px">
              <h2 class="font-weight-600 text-large sm-text-extra-large">
                <a href="blog.html" class="text-black">What is Lorem Ipsum</a>
              </h2>
            </div>
            <!-- title start -->
            <!-- blog description start -->
            <div class="blog-grid-desc margin-bottom-10px">
              <p class="no-margin-bottom sm-text-large">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s
              </p>
            </div>
            <!-- blog description end -->
            <!-- blog date-comment start -->
            <div class="blog-grid-meta">
              <a href="javascript:void(0)" class="text-black sm-text-large"
                ><i class="far fa-calendar-alt"></i
                ><span class="padding-left-5px">March 14, 2018</span></a
              >
              <a
                href="javascript:void(0)"
                class="text-black float-right sm-text-large"
                ><i class="far fa-comment-alt"></i
                ><span class="padding-left-5px">05</span></a
              >
            </div>
            <!-- blog date-comment end -->
          </div>
        </div>
        <!-- blog end -->
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "BlogUpdate"
};
</script>

<style scoped></style>
