<template>
  <div>
    <section class="padding-80px-tb">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-12 text-center">
            <!-- title start -->
            <div class="buy-store">
              <h2 class="text-tometo font-weight-600">Are you intersted to buy this store?</h2>
              <h3 class="text-tometo font-weight-600 title-large-1 lg-title-medium md-title-medium sm-title-mdmore xs-text-extra-large">Buy online store now!</h3>
            </div>
            <!-- title end -->
            <!-- buy button start -->
            <div class="buy-button shop-button">
              <a href="https://themeforest.net/item/libazz-the-fashionable-ecommerce-store/24226553" class="btn-style1">Buy now<i class="ti-shopping-cart"></i></a>
            </div>
            <!-- buy button end -->
          </div>
        </div>
      </div>
    </section>
    <!-- footer section start -->
    <section class="bg-dark-light-blue padding-80px-tb">
      <div class="container">
        <div class="row">
          <div
            class="col-xl-4 col-lg-4 col-md-4 col-12 text-center sm-margin-bottom-15px"
          >
            <!-- follow us title start -->
            <div class="margin-bottom-15px">
              <h2
                class="text-white font-weight-600 text-extra-large md-title-mdall"
              >
                Follow us
              </h2>
            </div>
            <!-- follow us title end -->
            <!-- follow us icon start -->
            <div class="land-social">
              <a href="javascript:void(0)"><i class="ti-facebook"></i></a>
              <a href="javascript:void(0)"><i class="ti-linkedin"></i></a>
              <a href="https://twitter.com/krish_theme"
                ><i class="ti-twitter-alt"></i
              ></a>
              <a href="https://www.instagram.com/spacingtech3/"
                ><i class="ti-instagram"></i
              ></a>
            </div>
            <!-- follow us icon end -->
          </div>
          <div
            class="col-xl-4 col-lg-4 col-md-4 col-12 text-center sm-margin-bottom-15px"
          >
            <!-- email title start -->
            <div class="margin-bottom-15px">
              <h2
                class="text-white font-weight-600 text-extra-large md-title-mdall"
              >
                Email us
              </h2>
            </div>
            <!-- email title end -->
            <!-- email start -->
            <div class="land-email">
              <a href="mailto:spacingtech10@gmail.com" class="text-white"
                >spacingtech10@gmail.com</a
              >
            </div>
            <!-- email end -->
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-12 text-center">
            <!-- call title start -->
            <div class="margin-bottom-15px">
              <h2
                class="text-white font-weight-600 text-extra-large md-title-mdall"
              >
                Call us
              </h2>
            </div>
            <!-- call title end -->
            <!-- call start -->
            <div class="land-call">
              <a href="javascript:void(0)" class="text-white"></a>
              <span class="text-white">+91-98252 54810</span>
            </div>
            <!-- call end -->
          </div>
        </div>
      </div>
    </section>
    <!-- copy-right-section start -->
    <footer class="bg-tometo padding-top-10px padding-bottom-10px">
      <div class="container">
        <div class="row">
          <!-- footer copyright texts starts -->
          <div class="col-xl-12 col-lg-12 col-md-12 col-12 text-center">
            <div class="copyright text-white">
              Copyright <i class="far fa-copyright"></i> 2019 all rights
              reserved by spacingtech
            </div>
          </div>
          <!-- footer copyright texts ends -->
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: "ContactUs"
};
</script>

<style scoped></style>
