<template>
  <section class="padding-80px-tb landing-page" id="demos">
    <div class="container-fluid">
      <div class="row">
        <!-- product title start -->
        <div
          class="col-xl-12 col-lg-12 col-md-12 col-12 text-center margin-bottom-40px lg-margin-bottom-30px md-margin-bottom-25px sm-margin-bottom-20px"
        >
          <h3
            class="text-black font-weight-700 lg-title-medium md-title-medium sm-title-mdmore"
          >
            Demo For Fashion Store
          </h3>
          <p class="font-weight-500 sm-text-large no-margin-bottom">
            Here you seen Demos based on online store easy to own website in
            less time
          </p>
        </div>
        <!-- product title end -->
      </div>
      <!-- product tab start -->
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 text-center">
          <ul class="filtering nav">
            <li
              v-on:click="handelActiveTab('all')"
              v-bind:class="{ active: this.activeCategory === 'all' }"
            >
              <span>All</span>
            </li>
            <li
              v-on:click="handelActiveTab('home')"
              v-bind:class="{ active: this.activeCategory === 'home' }"
            >
              <span>Home Style</span>
            </li>
            <li
              v-on:click="handelActiveTab('grid2')"
              v-bind:class="{ active: this.activeCategory === 'grid2' }"
            >
              <span>Grid</span>
            </li>
            <li
              v-on:click="handelActiveTab('list')"
              class="active-3"
              v-bind:class="{ active: this.activeCategory === 'list' }"
            >
              <span>List</span>
            </li>
            <li
              v-on:click="handelActiveTab('category')"
              class="active-3"
              v-bind:class="{ active: this.activeCategory === 'category' }"
            >
              <span>Category</span>
            </li>
            <li
              v-on:click="handelActiveTab('detail')"
              class="active-3"
              v-bind:class="{ active: activeCategory === 'detail' }"
            >
              <span>Detail</span>
            </li>
            <li
              v-on:click="handelActiveTab('other')"
              class="active-3"
              v-bind:class="{ active: activeCategory === 'other' }"
            >
              <span>{{ activeCategory }}</span>
            </li>
          </ul>
        </div>
      </div>
      <!-- product tab end -->
      <div class="gallery row">
        <div
          v-for="(item, index) in fashionList"
          v-bind:key="index"
          v-bind:class="item.activeCategory"
          class="col-xl-4 col-lg-6 col-md-6 col-12 items"
        >
          <div class="item-img active">
            <!-- product start -->
            <div class="column">
              <!-- images & demo button start -->
              <div class="land-img-shadow margin-bottom-15px">
                <div
                  class="land-template land-index"
                  v-bind:style="{ 'background-image': `url(${item.image})` }"
                >
                  <div class="land-btn">
                    <a v-bind:href="item.path" class="btn btn-style1">
                      {{ item.title }}
                    </a>
                  </div>
                </div>
              </div>
              <!-- images & demo button end -->
              <!-- page title start -->
              <div class="product-text d-block text-center">
                <h6
                  class="text-white font-weight-600 text-large sm-text-extra-large"
                >
                  {{ item.title }}
                </h6>
              </div>
              <!-- page title end -->
            </div>
            <!-- product end -->
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mainHome } from "../../globalUtility/jsonData/mainHome";
export default {
  name: "FashionDemo",
  data() {
    return {
      fashionList: [],
      activeCategory: "all"
    };
  },
  mounted() {
    this.fashionList = (mainHome && mainHome.fashionStoreList) || [];
  },
  methods: {
    handelActiveTab: function(category) {
      this.activeCategory = category;
      const list = mainHome.fashionStoreList.filter(
        item => item.activeCategory === category
      );
      this.fashionList = category === "all" ? mainHome.fashionStoreList : list;
    }
  }
};
</script>

<style scoped></style>
