<template>
  <section class="padding-80px-tb" id="features">
    <div class="container">
      <div class="row">
        <!-- product title start -->
        <div
          class="col-xl-12 col-lg-12 col-md-12 col-12 text-center margin-bottom-40px lg-margin-bottom-30px md-margin-bottom-25px sm-margin-bottom-20px"
        >
          <h3
            class="text-black font-weight-700 lg-title-medium md-title-medium sm-title-mdmore"
          >
            Feature
          </h3>
          <p class="font-weight-500 sm-text-large no-margin-bottom">
            All features use in webdesign
          </p>
        </div>
        <!-- product title end -->
      </div>
      <div class="row">
        <div
          class="col-xl-4 col-lg-4 col-md-4 col-12 text-center margin-bottom-30px sm-margin-bottom-20px"
        >
          <!-- botstrap start -->
          <div class="provide-service">
            <!-- bootstrap images start -->
            <div class="margin-bottom-30px">
              <a href="javascript:void(0)"
                ><img
                  src="../../../public/assets/images/libazz-fashion-bootstrap-icon.png"
                  alt="bootstrap-icon"
                  class="img-fluid"
              /></a>
            </div>
            <!-- bootstrap images end -->
            <div class="land-title">
              <h2 class="font-weight-600 text-extra-large md-title-mdall">
                Bootstrap
              </h2>
              <p class="no-bottom-margin">Use bootstrap 4.0 latest version</p>
            </div>
          </div>
          <!-- botstrap end -->
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-4 col-12 text-center margin-bottom-30px sm-margin-bottom-20px"
        >
          <!-- jquery start -->
          <div class="provide-service">
            <!-- jquery images start -->
            <div class="margin-bottom-30px">
              <a href="javascript:void(0)"
                ><img
                  src="../../../public/assets/images/libazz-fashion-jquery-img.png"
                  alt="jquery-img"
                  class="img-fluid"
              /></a>
            </div>
            <!-- jquery images end -->
            <div class="land-title">
              <h2 class="font-weight-600 text-extra-large md-title-mdall">
                Jquery
              </h2>
              <p class="no-bottom-margin">Use latest js for whole templates</p>
            </div>
          </div>
          <!-- jquery end -->
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-4 col-12 text-center margin-bottom-30px sm-margin-bottom-20px"
        >
          <!-- fully responsive start -->
          <div class="provide-service">
            <!-- fully responsive images start -->
            <div class="margin-bottom-30px">
              <a href="javascript:void(0)"
                ><img
                  src="../../../public/assets/images/libazz-fashion-responsive.png"
                  alt="responsive"
                  class="img-fluid"
              /></a>
            </div>
            <!-- fully responsive images end -->
            <div class="land-title">
              <h2 class="font-weight-600 text-extra-large md-title-mdall">
                Fully responsive
              </h2>
              <p class="no-bottom-margin">All template are fully responsive</p>
            </div>
          </div>
          <!-- fully responsive end -->
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-4 col-12 text-center margin-bottom-30px sm-margin-bottom-20px"
        >
          <!-- customize start -->
          <div class="provide-service">
            <!-- customize images start -->
            <div class="margin-bottom-30px">
              <a href="javascript:void(0)"
                ><img
                  src="../../../public/assets/images/libazz-fashion-customization.png"
                  alt="customization"
                  class="img-fluid"
              /></a>
            </div>
            <!-- customize images end -->
            <div class="land-title">
              <h2 class="font-weight-600 text-extra-large md-title-mdall">
                Customize
              </h2>
              <p class="no-bottom-margin">Easily customize use by bootstrap</p>
            </div>
          </div>
          <!-- customize end -->
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-4 col-12 text-center margin-bottom-30px sm-margin-bottom-20px"
        >
          <!-- icon start -->
          <div class="provide-service">
            <!-- icon images start -->
            <div class="margin-bottom-30px">
              <a href="javascript:void(0)"
                ><img
                  src="../../../public/assets/images/libazz-fashion-themify-img.png"
                  alt="themify-img"
                  class="img-fluid"
              /></a>
            </div>
            <!-- icon images end -->
            <div class="land-title">
              <h2 class="font-weight-600 text-extra-large md-title-mdall">
                Icons
              </h2>
              <p class="no-bottom-margin">Use themify & font-awesome icon</p>
            </div>
          </div>
          <!-- icon end -->
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-4 col-12 text-center margin-bottom-30px sm-margin-bottom-20px"
        >
          <!-- slider start -->
          <div class="provide-service">
            <!-- slider images start -->
            <div class="margin-bottom-30px">
              <a href="javascript:void(0)"
                ><img
                  src="../../../public/assets/images/libazz-fashion-swiper-img.png"
                  alt="swiper-img"
                  class="img-fluid"
              /></a>
            </div>
            <!-- slider images end -->
            <div class="land-title">
              <h2 class="font-weight-600 text-extra-large md-title-mdall">
                Variant Slider
              </h2>
              <p class="no-bottom-margin">Use Swiper & owl carousel slider</p>
            </div>
          </div>
          <!-- slider end -->
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-4 col-12 text-center margin-bottom-30px sm-margin-bottom-20px"
        >
          <!-- well document start -->
          <div class="provide-service">
            <!-- well document images start -->
            <div class="margin-bottom-30px">
              <a href="javascript:void(0)"
                ><img
                  src="../../../public/assets/images/libazz-fashion-well-document-img.png"
                  alt="well-document-img"
                  class="img-fluid"
              /></a>
            </div>
            <!-- well document images end -->
            <div class="land-title">
              <h2 class="font-weight-600 text-extra-large md-title-mdall">
                Well Document
              </h2>
              <p class="no-bottom-margin">
                Fully details which include in page
              </p>
            </div>
          </div>
          <!-- well document end -->
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-4 col-12 text-center margin-bottom-30px sm-margin-bottom-20px"
        >
          <!-- well design start -->
          <div class="provide-service">
            <!-- well design images start -->
            <div class="margin-bottom-30px">
              <a href="javascript:void(0)"
                ><img
                  src="../../../public/assets/images/libazz-fashion-desing-icon.png"
                  alt="desing-icon"
                  class="img-fluid"
              /></a>
            </div>
            <!-- well design images end -->
            <div class="land-title">
              <h2 class="font-weight-600 text-extra-large md-title-mdall">
                Well Design
              </h2>
              <p class="no-bottom-margin">Simple & effective both designed</p>
            </div>
          </div>
          <!-- well design end -->
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-4 col-12 text-center margin-bottom-30px sm-margin-bottom-20px"
        >
          <!-- feature start -->
          <div class="provide-service">
            <!-- feature images start -->
            <div class="margin-bottom-30px">
              <a href="javascript:void(0)"
                ><img
                  src="../../../public/assets/images/libazz-fashion-feature-img.png"
                  alt="feature-img"
                  class="img-fluid"
              /></a>
            </div>
            <!-- feature images end -->
            <div class="land-title">
              <h2 class="font-weight-600 text-extra-large md-title-mdall">
                Variant Feature
              </h2>
              <p class="no-bottom-margin">
                Tab, button, label on product & effect
              </p>
            </div>
          </div>
          <!-- feature end -->
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-4 col-12 text-center margin-bottom-30px sm-margin-bottom-20px"
        >
          <!-- masonary start -->
          <div class="provide-service">
            <!-- masonary start -->
            <div class="margin-bottom-30px">
              <a href="javascript:void(0)"
                ><img
                  src="../../../public/assets/images/libazz-fashion-masonary.png"
                  alt="masonary"
                  class="img-fluid"
              /></a>
            </div>
            <!-- masonary end -->
            <div class="land-title">
              <h2 class="font-weight-600 text-extra-large md-title-mdall">
                Masonary
              </h2>
              <p class="no-bottom-margin">Automatic adjust by bootstrap</p>
            </div>
          </div>
          <!-- masonary end -->
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-4 col-12 text-center margin-bottom-30px sm-margin-bottom-20px"
        >
          <!-- grid start -->
          <div class="provide-service">
            <!-- grid start -->
            <div class="margin-bottom-30px">
              <a href="javascript:void(0)"
                ><img
                  src="../../../public/assets/images/libazz-fashion-grid.png"
                  alt="grid"
                  class="img-fluid"
              /></a>
            </div>
            <!-- grid end -->
            <div class="land-title">
              <h2 class="font-weight-600 text-extra-large md-title-mdall">
                Various grid
              </h2>
              <p class="no-bottom-margin">
                Various type of variety grid option
              </p>
            </div>
          </div>
          <!-- grid end -->
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-4 col-12 text-center margin-bottom-30px sm-margin-bottom-20px"
        >
          <!-- list start -->
          <div class="provide-service">
            <!-- list start -->
            <div class="margin-bottom-30px">
              <a href="javascript:void(0)"
                ><img
                  src="../../../public/assets/images/libazz-fashion-list-land.png"
                  alt="list-land"
                  class="img-fluid"
              /></a>
            </div>
            <!-- list end -->
            <div class="land-title">
              <h2 class="font-weight-600 text-extra-large md-title-mdall">
                Various list
              </h2>
              <p class="no-bottom-margin">
                Various type of variety list option
              </p>
            </div>
          </div>
          <!-- list end -->
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-4 col-12 text-center margin-bottom-30px sm-margin-bottom-20px"
        >
          <!-- timer start -->
          <div class="provide-service">
            <!-- timer images start -->
            <div class="margin-bottom-30px">
              <a href="javascript:void(0)"
                ><img
                  src="../../../public/assets/images/libazz-fashion-deal-timer-img.png"
                  alt="deal-timer-img"
                  class="img-fluid"
              /></a>
            </div>
            <!-- timer images end -->
            <div class="land-title">
              <h2 class="font-weight-600 text-extra-large md-title-mdall">
                Timer
              </h2>
              <p class="no-bottom-margin">Use timer section on product offer</p>
            </div>
          </div>
          <!-- timer end -->
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-4 col-12 text-center margin-bottom-30px sm-margin-bottom-20px"
        >
          <!-- w3c validation start -->
          <div class="provide-service">
            <!-- w3c validation images start -->
            <div class="margin-bottom-30px">
              <a href="javascript:void(0)"
                ><img
                  src="../../../public/assets/images/libazz-fashion-validate-img.png"
                  alt="validate-img"
                  class="img-fluid"
              /></a>
            </div>
            <!-- w3c validation images end -->
            <div class="land-title">
              <h2 class="font-weight-600 text-extra-large md-title-mdall">
                Validate
              </h2>
              <p class="no-bottom-margin">Fully validate css & html by w3c</p>
            </div>
          </div>
          <!-- w3c validation end -->
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-4 col-12 text-center margin-bottom-30px sm-margin-bottom-20px"
        >
          <!-- insta-feed start -->
          <div class="provide-service">
            <!-- insta-feed images start -->
            <div class="margin-bottom-30px">
              <a href="javascript:void(0)"
                ><img
                  src="../../../public/assets/images/libazz-fashion-instafeed-img.png"
                  alt="instafeed-img"
                  class="img-fluid"
              /></a>
            </div>
            <!-- insta-feed images end -->
            <div class="land-title">
              <h2 class="font-weight-600 text-extra-large md-title-mdall">
                Instafeed
              </h2>
              <p class="no-bottom-margin">Fully use by online insta account</p>
            </div>
          </div>
          <!-- insta-feed end -->
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-4 col-12 text-center margin-bottom-30px sm-margin-bottom-20px"
        >
          <!-- google font start -->
          <div class="provide-service">
            <!-- google font images start -->
            <div class="margin-bottom-30px">
              <a href="javascript:void(0)"
                ><img
                  src="../../../public/assets/images/libazz-fashion-google-font.png"
                  alt="google-font"
                  class="img-fluid"
              /></a>
            </div>
            <!-- google font images end -->
            <div class="land-title">
              <h2 class="font-weight-600 text-extra-large md-title-mdall">
                Google Font
              </h2>
              <p class="no-bottom-margin">Use google font and change size</p>
            </div>
          </div>
          <!-- google font end -->
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-4 col-12 text-center margin-bottom-30px sm-margin-bottom-20px"
        >
          <!-- google map start -->
          <div class="provide-service">
            <!-- google map images start -->
            <div class="margin-bottom-30px">
              <a href="javascript:void(0)"
                ><img
                  src="../../../public/assets/images/libazz-fashion-google-map.png"
                  alt="google-map"
                  class="img-fluid"
              /></a>
            </div>
            <!-- google map images end -->
            <div class="land-title">
              <h2 class="font-weight-600 text-extra-large md-title-mdall">
                Google Map
              </h2>
              <p class="no-bottom-margin">Use google map including template</p>
            </div>
          </div>
          <!-- google map end -->
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-4 col-12 text-center margin-bottom-30px sm-margin-bottom-20px"
        >
          <!-- seo start -->
          <div class="provide-service">
            <!-- seo images start -->
            <div class="margin-bottom-30px">
              <a href="javascript:void(0)"
                ><img
                  src="../../../public/assets/images/libazz-fashion-seo.png"
                  alt="seo"
                  class="img-fluid"
              /></a>
            </div>
            <!-- seo images end -->
            <div class="land-title">
              <h2 class="font-weight-600 text-extra-large md-title-mdall">
                Google Map
              </h2>
              <p class="no-bottom-margin">Use google map including template</p>
            </div>
          </div>
          <!-- seo end -->
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "FeatureHome"
};
</script>

<style scoped></style>
