<template>
  <div>
    <header class="landing-header" id="collapsibleNavbar">
      <div class="container">
        <div class="row">
          <div
            class="col-xl-9 col-lg-9 col-md-3 col-5 d-flex align-items-center"
          >
            <!-- logo start -->
            <div class="mainlogo">
              <a class="navbar-brand" href="javascript:void(0)">
                <img
                  :src="libazzLogo"
                  alt="logo"
                  class="img-fluid header-logo"
                />
              </a>
            </div>
            <!-- logo end -->
            <nav class="navbar-expand-lg">
              <!-- navbar toggler start -->
              <button
                class="navbar-toggler toggler-example"
                type="button"
                data-toggle="collapse"
                data-target="#navbar"
              >
                <span class="text-white"><i class="ti-menu"></i></span>
              </button>
              <!-- navbar toggler end -->
              <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav">
                  <li class="land-link">
                    <a href="#homedemos" class="text-white font-weight-600"
                      >Home</a
                    >
                  </li>
                  <li class="land-link">
                    <a href="#demos" class="text-white font-weight-600">Demo</a>
                  </li>
                  <li class="land-link">
                    <a href="#theme" class="text-white font-weight-600"
                      >Theme</a
                    >
                  </li>
                  <li class="land-link">
                    <a href="#features" class="text-white font-weight-600"
                      >Feature</a
                    >
                  </li>
                  <li class="land-link">
                    <a href="#blog" class="text-white font-weight-600">Blog</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div
            class="col-xl-3 col-lg-3 col-md-9 col-7 button-padding d-flex align-items-center justify-content-end"
          >
            <!-- buy button start -->
            <div class="buy-button">
              <a
                href="https://themeforest.net/item/libazz-the-fashionable-ecommerce-store/24226553"
                class="btn-style1"
                >Buy now<i class="ti-shopping-cart"></i
              ></a>
            </div>
            <!-- buy button end -->
          </div>
        </div>
      </div>
    </header>
    <section class="land-background-img">
      <div class="landing-page">
        <div class="landing-image">
          <!-- background images start -->
          <div
            class="bg-img"
            v-bind:style="{ 'background-image': `url(${bgImage})` }"
          ></div>
          <!-- background images end -->
          <!-- title start -->
          <div class="landing-text">
            <h2 class="text-white font-weight-600 text-large">
              <span class="fashion text-tometo title-greatersmall">154+</span>
              <span>Premade Layout</span>
            </h2>
            <h3 class="text-white font-weight-600">
              <span>Libazz</span>
              <span class="fashion text-tometo">fashion</span>
              <span>store</span>
            </h3>
            <p class="text-white no-margin-bottom">
              Available men's and women's apparel clothing and many more on
              fashion store
            </p>
          </div>
          <!-- title end -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { imageUtil } from "../../globalUtility/imageHelper";

export default {
  name: "Header",
  data() {
    return {
      bgImage: imageUtil.images.FashionDemo,
      libazzLogo: imageUtil.images.LibazzLogo
    };
  }
};
</script>

<style scoped></style>
