<template>
  <div>
    <Header />
    <UniqueHome />
    <ResponsiveLook />
    <FashionDemo />
    <OtherThemeOnStore />
    <FeatureHome />
    <BlogUpdate />
    <ContactUs />
  </div>
</template>

<script>
import Header from "./Header";
import UniqueHome from "./UniqueHome";
import ResponsiveLook from "./ResponsiveLook";
import OtherThemeOnStore from "./OtherThemeOnStore";
import FeatureHome from "./FeatureHome";
import BlogUpdate from "./BlogUpdate";
import ContactUs from "./ContactUs";
import FashionDemo from "./FashionDemo";

export default {
  name: "Home",
  components: {
    FashionDemo,
    Header,
    UniqueHome,
    ResponsiveLook,
    OtherThemeOnStore,
    FeatureHome,
    BlogUpdate,
    ContactUs
  }
};
</script>
