<template>
  <section class="landing-page" id="theme">
    <div class="container-fluid">
      <div class="row">
        <!-- product title start -->
        <div
          class="col-xl-12 col-lg-12 col-md-12 col-12 text-center margin-bottom-40px lg-margin-bottom-30px md-margin-bottom-25px sm-margin-bottom-20px"
        >
          <h3
            class="text-black font-weight-700 lg-title-medium md-title-medium sm-title-mdmore"
          >
            Other Theme On Store
          </h3>
          <p class="font-weight-500 sm-text-large no-margin-bottom">
            Comfortable price and quality template
          </p>
        </div>
        <!-- product title end -->
      </div>
      <div class="row">
        <div class="col-xl-12 text-center">
          <div class="other-theme owl-carousel owl-theme">
            <div class="item">
              <!-- theme start -->
              <div class="theme">
                <a
                  href="https://themeforest.net/item/master-responsive-multipurpose-onepage-templates/20946104"
                  ><img
                    src="../../../public/assets/images/libazz-fashion-land-master.jpg"
                    alt="master"
                    class="img-fluid"
                /></a>
                <div class="theme-name margin-top-15px">
                  <a
                    href="https://themeforest.net/item/master-responsive-multipurpose-onepage-templates/20946104"
                    class="btn btn-style1 font-weight-600"
                    >Master</a
                  >
                </div>
              </div>
              <!-- theme end -->
            </div>
            <div class="item">
              <!-- theme start -->
              <div class="theme">
                <a
                  href="https://themeforest.net/item/mailio-responsive-multipurpose-email-template-with-online-template-builder/21564222"
                  ><img
                    src="../../../public/assets/images/libazz-fashion-land-mailo.jpg"
                    alt="mailo"
                    class="img-fluid"
                /></a>
                <div class="theme-name margin-top-15px">
                  <a
                    href="https://themeforest.net/item/mailio-responsive-multipurpose-email-template-with-online-template-builder/21564222"
                    class="btn btn-style1 font-weight-600"
                    >Mailio</a
                  >
                </div>
              </div>
              <!-- theme end -->
            </div>
            <div class="item">
              <!-- theme start -->
              <div class="theme">
                <a
                  href="https://themeforest.net/item/macro-ecommerce-multistore-template/23472552"
                  ><img
                    src="../../../public/assets/images/libazz-fashion-land-macrohtml.jpg"
                    alt="macro-html"
                    class="img-fluid"
                /></a>
                <div class="theme-name margin-top-15px">
                  <a
                    href="https://themeforest.net/item/macro-ecommerce-multistore-template/23472552"
                    class="btn btn-style1 font-weight-600"
                    >Macro</a
                  >
                </div>
              </div>
              <!-- theme end -->
            </div>
            <div class="item">
              <!-- theme start -->
              <div class="theme">
                <a
                  href="https://themeforest.net/item/macro-ecommerce-multistore-shopify-template/23683234"
                  ><img
                    src="../../../public/assets/images/libazz-fashion-land-macroshopify.jpg"
                    alt="macro-shopify"
                    class="img-fluid"
                /></a>
                <div class="theme-name margin-top-15px">
                  <a
                    href="https://themeforest.net/item/macro-ecommerce-multistore-shopify-template/23683234"
                    class="btn btn-style1 font-weight-600"
                    >Macro - Shopify Template</a
                  >
                </div>
              </div>
              <!-- theme end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "OtherThemeOnStore"
};
</script>

<style scoped></style>
