<template>
  <section class="landing-page">
    <div class="container-fluid">
      <div class="row">
        <!-- product title start -->
        <div
          class="col-xl-12 col-lg-12 col-md-12 col-12 text-center margin-bottom-40px lg-margin-bottom-30px md-margin-bottom-25px sm-margin-bottom-20px"
        >
          <h3
            class="text-black font-weight-700 lg-title-medium md-title-medium sm-title-mdmore"
          >
            Responsive Look
          </h3>
        </div>
        <!-- product title end -->
        <div class="col-xl-12">
          <div class="tab-content">
            <!-- tab product start -->
            <div class="tab-pane active" id="all">
              <div class="row">
                <div
                  class="col-xl-3 col-lg-3 col-md-3 col-6 margin-bottom-30px sm-margin-bottom-20px"
                  data-aos="fade"
                >
                  <!-- product start -->
                  <div class="column">
                    <!-- images & demo button start -->
                    <div class="land-img-shadow margin-bottom-15px">
                      <div class="land-mobile-index">
                        <a href="javascript:void(0)"
                          ><img
                            src="../../../public/assets/images/libazz-fashion-mobile-home-page.jpg"
                        /></a>
                      </div>
                    </div>
                    <!-- images & demo button end -->
                    <!-- page title start -->
                    <div class="d-block text-center">
                      <h6
                        class="font-weight-600 text-large sm-text-extra-large"
                      >
                        Home
                      </h6>
                    </div>
                    <!-- page title end -->
                  </div>
                  <!-- product end -->
                </div>
                <div
                  class="col-xl-3 col-lg-3 col-md-3 col-6 margin-bottom-30px sm-margin-bottom-20px"
                  data-aos="fade"
                >
                  <!-- product start -->
                  <div class="column">
                    <!-- images & demo button start -->
                    <div class="land-img-shadow margin-bottom-15px">
                      <div class="land-mobile-index">
                        <a href="javascript:void(0)">
                          <img
                            src="../../../public/assets/images/libazz-fashion-mobile-home-page2.jpg"
                          />
                        </a>
                      </div>
                    </div>
                    <!-- images & demo button end -->
                    <!-- page title start -->
                    <div class="d-block text-center">
                      <h6
                        class="font-weight-600 text-large sm-text-extra-large"
                      >
                        Home2
                      </h6>
                    </div>
                    <!-- page title end -->
                  </div>
                  <!-- product end -->
                </div>
                <div
                  class="col-xl-3 col-lg-3 col-md-3 col-6 margin-bottom-30px sm-margin-bottom-20px"
                  data-aos="fade"
                >
                  <!-- product start -->
                  <div class="column">
                    <!-- images & demo button start -->
                    <div class="land-img-shadow margin-bottom-15px">
                      <div class="land-mobile-index">
                        <a href="javascript:void(0)"
                          ><img
                            src="../../../public/assets/images/libazz-fashion-mobile-home-page3.jpg"
                        /></a>
                      </div>
                    </div>
                    <!-- images & demo button end -->
                    <!-- page title start -->
                    <div class="d-block text-center">
                      <h6
                        class="font-weight-600 text-large sm-text-extra-large"
                      >
                        Home3
                      </h6>
                    </div>
                    <!-- page title end -->
                  </div>
                  <!-- product end -->
                </div>
                <div
                  class="col-xl-3 col-lg-3 col-md-3 col-6 margin-bottom-30px sm-margin-bottom-20px"
                  data-aos="fade"
                >
                  <!-- product start -->
                  <div class="column">
                    <!-- images & demo button start -->
                    <div class="land-img-shadow margin-bottom-15px">
                      <div class="land-mobile-index">
                        <a href="javascript:void(0)"
                          ><img
                            src="../../../public/assets/images/libazz-fashion-mobile-home-page4.jpg"
                        /></a>
                      </div>
                    </div>
                    <!-- images & demo button end -->
                    <!-- page title start -->
                    <div class="d-block text-center">
                      <h6
                        class="font-weight-600 text-large sm-text-extra-large"
                      >
                        Home4
                      </h6>
                    </div>
                    <!-- page title end -->
                  </div>
                  <!-- product end -->
                </div>
                <div
                  class="col-xl-3 col-lg-3 col-md-3 col-6 sm-margin-bottom-20px"
                  data-aos="fade"
                >
                  <!-- product start -->
                  <div class="column">
                    <!-- images & demo button start -->
                    <div class="land-img-shadow margin-bottom-15px">
                      <div class="land-mobile-index">
                        <a href="javascript:void(0)"
                          ><img
                            src="../../../public/assets/images/libazz-fashion-mobile-home-page5.jpg"
                        /></a>
                      </div>
                    </div>
                    <!-- images & demo button end -->
                    <!-- page title start -->
                    <div class="d-block text-center">
                      <h6
                        class="font-weight-600 text-large sm-text-extra-large"
                      >
                        Home5
                      </h6>
                    </div>
                    <!-- page title end -->
                  </div>
                  <!-- product end -->
                </div>
                <div
                  class="col-xl-3 col-lg-3 col-md-3 col-6 sm-margin-bottom-20px"
                  data-aos="fade"
                >
                  <!-- product start -->
                  <div class="column">
                    <!-- images & demo button start -->
                    <div class="land-img-shadow margin-bottom-15px">
                      <div class="land-mobile-index">
                        <a href="javascript:void(0)"
                          ><img
                            src="../../../public/assets/images/libazz-fashion-mobile-home-page6.jpg"
                        /></a>
                      </div>
                    </div>
                    <!-- images & demo button end -->
                    <!-- page title start -->
                    <div class="d-block text-center">
                      <h6
                        class="font-weight-600 text-large sm-text-extra-large"
                      >
                        Home6
                      </h6>
                    </div>
                    <!-- page title end -->
                  </div>
                  <!-- product end -->
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-6" data-aos="fade">
                  <!-- product start -->
                  <div class="column">
                    <!-- images & demo button start -->
                    <div class="land-img-shadow margin-bottom-15px">
                      <div class="land-mobile-index">
                        <a href="javascript:void(0)"
                          ><img
                            src="../../../public/assets/images/libazz-fashion-mobile-home-page7.jpg"
                        /></a>
                      </div>
                    </div>
                    <!-- images & demo button end -->
                    <!-- page title start -->
                    <div class="d-block text-center">
                      <h6
                        class="font-weight-600 text-large sm-text-extra-large"
                      >
                        Home7
                      </h6>
                    </div>
                    <!-- page title end -->
                  </div>
                  <!-- product end -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "ResponsiveLook"
};
</script>

<style scoped></style>
