<template>
  <section class="padding-80px-tb landing-page" id="homedemos">
    <div class="container-fluid">
      <div class="row">
        <!-- product title start -->
        <div
          class="col-xl-12 col-lg-12 col-md-12 col-12 text-center margin-bottom-40px lg-margin-bottom-30px md-margin-bottom-25px sm-margin-bottom-20px"
        >
          <h3
            class="text-black font-weight-700 lg-title-medium md-title-medium sm-title-mdmore"
          >
            Unique Home Page
          </h3>
          <p class="font-weight-500 sm-text-large no-margin-bottom">
            Here you seen home demos
          </p>
        </div>
        <!-- product title end -->
        <div class="col-xl-12">
          <div class="tab-content">
            <!-- tab product start -->
            <div class="tab-pane active" id="all">
              <div class="row">
                <div
                  class="col-xl-4 col-lg-6 col-md-6 col-12 margin-bottom-30px sm-margin-bottom-20px"
                  data-aos="fade"
                  v-for="(data, index) in uniqueList"
                  v-bind:key="index"
                >
                  <!-- product start -->
                  <div class="column">
                    <!-- images & demo button start -->
                    <div class="land-img-shadow margin-bottom-15px">
                      <div
                        class="land-template land-index"
                        v-bind:style="{ 'background-image': `url(${data.image})` }"
                      >
                        <div class="land-btn">
                          <a href="home.html" class="btn btn-style1"
                            >View Demo</a
                          >
                        </div>
                      </div>
                    </div>
                    <!-- images & demo button end -->
                    <!-- page title start -->
                    <div class="product-text d-block text-center">
                      <h6
                        class="text-white font-weight-600 text-large sm-text-extra-large"
                      >
                        Home page
                      </h6>
                    </div>
                    <!-- page title end -->
                  </div>
                  <!-- product end -->
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mainHome } from "../../globalUtility/jsonData/mainHome";

export default {
  name: "UniqueHome",
  data() {
    return {
      uniqueList: []
    };
  },
  mounted() {
    this.uniqueList = (mainHome && mainHome.uniqueHomePage) || []
  }
};
</script>

<style scoped></style>
